[2019-01-18 11:36] FrancescAlted commented on #719
Ok, so IIUC the buffer that we are talking about is probably read-only, otherwise numpy should allowed us do the setting of the flag, right?  In that case, we can make use of the `bytearray[bytes]` trick.

[2019-01-18 12:08] mattip commented on #719
It would be better to use [np.array_frombuffer(buf, count, dtype='uint8').reshape(shape)](https://docs.scipy.org/doc/numpy/reference/generated/numpy.frombuffer.html) than np.array since that supports the buffer protocol, then you can use [PyMemoryView_FromMemory](https://docs.python.org/3/c-api/memoryview.html#c.PyMemoryView_FromMemory) to create the buffer.
Since you want a copy, you can do that

[2019-01-18 15:19] schwehr commented on #708
My build is internal to Google built with bazel.  It's a custom linux with numpy 1.13.3, HDF5 close to 1.10 ( @ 807187e2f200e63adb4918dd475d47546c8588e9 ).  pytables 3.4.4

[2019-01-18 16:38] coulanuk commented on #704
FYI the following work-around will install pytables with Python 3.7 on Ubuntu 18.04; this allows pandas to call read_hdf() etc.  NB libhdf5-dev is installed first.

sudo -H env CPPFLAGS=-I/usr/include/hdf5/serial \
LDFLAGS=-L/usr/lib/x86_64-linux-gnu/hdf5/serial pip3 install --upgrade tables

[2019-01-18 16:39] FrancescAlted commented on #708
Uh, I am afraid that we still need more info if we want to debug the root of the problem.  Could you please provide some detailed steps for get PyTables installed on your system?  A sequence of the command lines used would be great.

[2019-01-18 16:49] avalentino commented on #719
@FrancescAlted it seems to me that this issue is a duplicate of #718 and #717.
It has been already fixed in f6b64c9.

Probably the current fix can be improved but it already works AFAIK.

Probably we need to make a new delivery.

I'm closing. Please feel free to reopen if you think there is still some open point.

[2019-01-18 16:49] #719 closed

[2019-01-18 16:52] FrancescAlted commented on #719
Yeah, thanks for the reminder.  Yes, we need to do a release as soon as possible, but I am currently swamped.  Any volunteers?

[2019-01-18 17:51] schwehr commented on #708
This was really just a note about one part of what it takes to build pytables with hdf5 head.

I can't really share the really custom env.  But here are some of the tweaks from the build of py/tables

    "-Wno-incompatible-pointer-types",
    "-Wno-maybe-uninitialized",
    "-Wno-self-assign",
    "-Wno-switch",
    "-Wno-tautological-compare",
    "-Wno-unused-function",
    "-fno-strict-aliasin

[2019-01-24 09:56] bilalkamoon commented on #717
Hello,
We store gigabytes of data in hdf format, this bug is making our files unreadable. And we can't roll back numpy due to non forward compatibilty. We hope you release the fix as soon as possible.
Thank you for understanding.

[2019-01-24 10:48] FrancescAlted commented on #717
Hi.  We are aware of this issue.  My plan is to make a release by the end of the next month (when I think I'll have time for this).  If you want to accelerate things, you can always do a donation to the project via NumFOCUS (https://numfocus.org) and we will try to do our best so as to accelerate things.  Disclaimer: this a project that is mainly run by volunteers on their spare time; thanks for y

[2019-02-03 10:35] sw-yx commented on #385
this comment was most helpful for me https://github.com/PyTables/PyTables/issues/385#issuecomment-53220225 - make sure to try it

[2019-02-12 17:35] Peque commented on #704
Any updates on this matter? :innocent:

[2019-02-14 11:05] stevenwinfield commented on #719
A new release would be really nice...

Thanks!

[2019-02-18 08:18] pcko1 commented on #719
problem still persists, any fix?

[2019-02-18 09:13] FrancescAlted commented on #719
Yes, we know about the iusse, no need for more reminders, thanks :-)

BTW, if you really want to accelerate things in this front, please [consider making a donation](
https://numfocus.org/project/pytables).  Thanks!

[2019-02-21 13:09] SabineHaas commented on #442
I'd like to reopen the issue because I get the same error again when installing PyTables with python 3.7. ...[see failing build here!](https://travis-ci.org/wind-python/windpowerlib/jobs/496488756) I do not have this problem with python 3.5 or 3.5.

Is there any change that this will get fixed for python 3.7 soon?

[2019-02-21 14:01] FrancescAlted commented on #442
No that I am aware of.  We would appreciate some input on how to fix this in TravisCI (for example, I am not having problems with Python 3.7.1 when compiling via the usual `python setup.py build_ext -i` on my Mac box, but it might be because Anaconda has a better handle of the paths for hdf5).

[2019-02-22 15:04] yetudada commented on #704
I would also like to check in on this one. What can we do to help?

[2019-02-22 16:42] jetuk commented on #704
It's my understanding that this will become a lot easier once `manylinux2010` is rolled out. That is quite close to happening. I will try to test whether `pytables` / HDF install correctly on the proposed environment.

See this issue for more details: https://github.com/pypa/manylinux/issues/179

[2019-03-06 21:30] taylorsmith-UKY opened #721 "Newer versions of zstd (>1.3.4) causes build fail"
Build fails due to missing struct field. Previously, ZSTD_compressionParameters (defined in zstd.h) contained a field "searchLength", however this was removed after 1.3.4. Pretty sure this can be resolved by updating the version of the source included in PyTables/c-blosc/internal-complibs/

I was able to build succesfully by removing the system zstd library (most recent is 1.3.8) and reinstalling

[2019-03-07 08:09] tomkooij commented on #721
Thanks for reporting. We probably just need to update the internal c-blosc: https://github.com/Blosc/c-blosc
@FrancescAlted

[2019-03-07 08:28] FrancescAlted commented on #721
Good point.  It is unfortunate that Zstd changed the ABI during a patchlevel revision (1.3.4).  Expect an update of the internal C-Blosc sources before a new PyTables release (hopefully very soon).

[2019-03-08 16:14] afalaize opened #722 "Pytables uses old HDF5 while newer is installed on the system"
Dear all;
I cannot understand how to properly install Pytables so that it uses my current hdf5 installed version.
In short:
1) I installed libhdf5-openmpi-dev from Ubuntu Bionic-Beaver ppa (version is 1.10.0-patch1+docs-4).
2) I installed Pytables throught pip (pip3 install tables). Everything seems fine.
3) In python interpreter:
[code]
And when executing my scripts that depend on Pytables, I get

[2019-03-11 08:09] FrancescAlted commented on #722
Weird.  Can you show us the complete log of your PyTables installation?  Also, it would be nice if you can send the log for h5py too in order to compare.  Thanks!

[2019-03-11 11:55] afalaize commented on #722
Thank you for reply.

Below are the pip install logs for pytables and h5py

[pytables.log](https://github.com/PyTables/PyTables/files/2952036/pytables.log)

[h5py.log](https://github.com/PyTables/PyTables/files/2952037/h5py.log)

[2019-03-11 19:43] FrancescAlted commented on #722
I see in your logs that you installed the linux version of the wheels.  On my linux box, after doing:

[code]

I can do:

[code]

which is correct, because the wheel was generated against HDF5 1.8.19.  Also, the test suite work here without problems.

I went one step further and installed h5py via pip, and here is the HDF5 version it is using:

[code]

So, this should be what you are seeing too: P

[2019-03-11 20:09] afalaize commented on #722
Again, thank you for your consideration;

To make things clearer:

- I am using the vragrant box [ubuntu/bionic64](https://app.vagrantup.com/ubuntu/boxes/bionic64)
- I install a lot of libraries, among them hdf5:
`apt-get install -y libhdf5-openmpi-dev`
- I install python this way
`apt-get install -y python3.5 python3-pip python3-tk python3-ipython`
- I install alot of python packages, among them

[2019-03-12 07:05] FrancescAlted commented on #722
Yes, your output for the `ldd` is expected.  Now, can you run the next command and send the output:

[code]

Finally, could you send a minimal Python script reproducing the problem?

[2019-03-12 09:06] FrancescAlted commented on #721
Latest version of blosc has been included in https://github.com/PyTables/PyTables/commit/a5d0152276caf45a4e1ae21ad5623fd843b51f9f.

[2019-03-12 09:06] #721 closed

[2019-03-12 09:17] FrancescAlted commented on #714
Are you sure PyTables is the faulty part here?  Any possibility that this is an actual issue in pandas?

[2019-03-12 09:21] FrancescAlted commented on #713
I tried to reproduce your problem, but current pandas (0.24.1) seems to work well with current pytables (3.4.4).  I am closing this, but feel free to re-open it if you continue experiencing problems.

[2019-03-12 09:21] #713 closed

[2019-03-12 09:23] FrancescAlted commented on #712
I think the problem stems from the fact that (very) old versions of MSVC did not support uint64.  This has possibly changed now.

[2019-03-12 09:27] #711 closed

[2019-03-12 09:27] FrancescAlted commented on #711
Fixed.  Thanks.

[2019-03-12 09:30] FrancescAlted commented on #709
Yes, you need to open the file in 'a'ppend mode before you can remove a row.

[2019-03-12 09:30] #709 closed

[2019-03-12 09:40] FrancescAlted commented on #708
I think HDF5 1.11.x is mainly used for development and should be used for production.  I am going to close this, but if it keeps crashing using 1.8.x or 1.10.x (i.e. the stable HDF5 versions), please re-open this.

[2019-03-12 09:40] #708 closed

[2019-03-12 09:55] FrancescAlted commented on #706
Yes, multidimensional tables have never been supported in PyTables and will likely stay like this for the foreseeable future (unless there is a nice PR contributing it).  Closing for now.

[2019-03-12 09:55] #706 closed

[2019-03-12 09:56] FrancescAlted commented on #705
Looks like this is out of scope here.  Closing.

[2019-03-12 09:56] #705 closed

[2019-03-12 10:02] FrancescAlted commented on #707
This is really strange and should not be happening.  Can you send a minimal script reproducing this?

[2019-03-12 10:16] FrancescAlted commented on #700
PyTables does not support this concurrent read/write scenarios, historically due to HDF5 limitations.  We know that newest versions of HDF5 (e.g. 1.10.4) does have support for this, but PyTables has not implemented it yet.  This would be nice to have indeed and we would be happy to accept PR for this (asking for a small grant from NumFOCUS is a realistic option; any takers?).

[2019-03-12 10:21] FrancescAlted commented on #698
No plans in this regard.  As always, PRs are welcome though.

[2019-03-12 10:26] FrancescAlted commented on #695
Yeah, HDF5 is not really meant to protect the file when there is no space left on the disk.  A possible workaround would be to check for free space in filesystem before doing the append.  This can be done inside PyTables, but I think the best place would be the user code, otherwise the checks for free space on the disk would unnecessarily slow down the appends for the general case.

[2019-03-12 10:26] #695 closed

[2019-03-12 10:29] FrancescAlted commented on #692
Yes, apparently appending rows in big-endian while in little-endian machines is not well supported.  Not a big use case, though.

[2019-03-12 10:42] FrancescAlted commented on #661
This should have been addressed in PR https://github.com/PyTables/PyTables/pull/720, and will be released in the forthcoming 3.5.0 PyTables release.

[2019-03-12 10:42] #661 closed

[2019-03-12 10:44] FrancescAlted commented on #665
Seems like an issue inside pandas, so closing.

[2019-03-12 10:44] #665 closed

[2019-03-12 10:46] FrancescAlted commented on #692
Related with #658.

[2019-03-12 10:48] FrancescAlted commented on #656
Is that happening in latest versions of PyTables?  If so, please send a minimal script reproducing this and re-open this ticket.

[2019-03-12 10:48] #656 closed

[2019-03-12 10:53] FrancescAlted commented on #651
Looks like this was fixed by #674.  Closing.

[2019-03-12 10:53] #651 closed

[2019-03-12 10:55] FrancescAlted commented on #652
I don't think we have free cycles to spend on improving unicode support on Python 2.7, specially when it is announced that Python 2 will be unmaintained pretty soon.  Closing.

[2019-03-12 10:55] #652 closed

[2019-03-12 17:12] schwehr commented on #708
Was never a crash.  I just won't build

[2019-03-12 17:13] schwehr commented on #708
And I try to follow "live at head"

[2019-03-13 00:15] moskalev commented on #714
I'm not sure. I do not know why this bug happens and where the issue resides.

[2019-03-13 16:59] bdjellab opened #725 "Error when trying to fresh install tables 3.5.0"
OS: Linux
Distrib: Ubuntu 14.04 and 16.04

**Protocol**

In a virtualenv:
`pip install tables`

**Expected**

tables 3.5.0 is installed

**Observed**

[code]

Installing version 3.4.4 still works fine but installing version 3.5.0 seems to be broken.

[2019-03-13 18:13] FrancescAlted commented on #725
This is because the wheels are not up yet (I am still waiting for the Travis CI to produce the wheels, so expect them to be up shortly).  Meanwhile, try installing the hdf5 package and the other dependencies in your Ubuntu box with:

[code]

After that, you should be able to install the package.  For example, in my Ubuntu 16.04 box I am getting:

[code]

[2019-03-13 21:50] rigogsilva commented on #725
@FrancescAlted thoughts on when the wheels will be produced? Appreciate it. I tried the apt installs but that did not work.

[2019-03-14 07:40] zsluedem commented on #725
[code]

Same problem in windows system

[2019-03-14 07:58] FrancescAlted commented on #725
@rigogsilva I am on it.

@zsluedem This is curious because the windows wheels are up, and I tested the Python 3.7 + Win10 64-bit yesterday without problems.  Which are your Python and Win versions?

[2019-03-14 08:01] zsluedem commented on #725
@FrancescAlted
Both Python3.6 and Python3.7 failed in my ci test.
You can see here https://ci.appveyor.com/project/zsluedem/monktrader/builds/23063880

[2019-03-14 10:48] JanVargovsky commented on #725
Same problem, Windows 10, Python 3.6.8.

[code]

[2019-03-14 11:46] FrancescAlted commented on #725
I have uploaded the complete set of wheels files for Win, for Linux and for Mac (Python 3.4 wheels are not there becuase it is going to be unmaintained very soon).  However, an existing issue is that installing by the package name alone tries to download the sources (and compile the beast):

[code]

but if a version is specified, it works as intended:

[code]

Not sure what's going on.  Somebody c

[2019-03-14 12:39] bilalkamoon opened #726 "Performance pd.HDFStore().keys() slow"
This is a reference to an issue opened back in 2017 [here](https://github.com/pandas-dev/pandas/issues/17593#issue-258915633).

It appears the issue is related to the path_walk requiring every single node be loaded to check whether it is a group.

[2019-03-14 13:32] rigogsilva commented on #725
`pip3 install tables` works for me now on a mac. Without the version.

[2019-03-14 13:37] FrancescAlted commented on #725
I think the root of the issue was that I uploaded a `tables-3.5.0-1.tar.gz` in the believe that the `-1` would represent the same than a [build tag](https://github.com/MacPython/wiki/wiki/Build-Tags), but I suspect that, when applied to a source tarball, it rather refers to a `-post1` version, and this is why the `-post1` wheels were not found unless the version was explicitly mentioned (e.g. `tab

[2019-03-14 13:37] #725 closed

[2019-03-14 13:59] rigogsilva commented on #725
Thanks @FrancescAlted!

[2019-03-14 16:27] FrancescAlted commented on #704
[Wheel files for Python 3.7 have been uploaded to PyPI](https://pypi.org/project/tables/#files).  Closing.

[2019-03-14 16:27] #704 closed

[2019-03-14 16:29] FrancescAlted commented on #719
The new 3.5.1 release is out and this should be fixed.

[2019-03-14 18:42] nathanielatom commented on #704
May I ask if the process for building wheels has been simplified and/or automated? Is this likely to recur for python 3.8? (Will we have to re-invent the wheel? ok sorry, couldn't resist ;)

I'm creating an installation script, and I'm wondering whether it's sufficient to use `setup.py` to just install the wheels from pypi with `install_requires` or whether it should explicitly install hdf5 and co

[2019-03-16 10:03] lissyx opened #727 "Python 3.4 wheel for tables-3.5.1"
It seems there was no wheel for Python 3.4 uploaded on PyPi with the 3.5.1 release, and looking at the release notes I don't see anything mentionning that 3.4 is not supported anymore. Is it just a temporary issue / upload issue, or is 3.4 not supported anymore?

[2019-03-18 09:42] FrancescAlted commented on #727
Yes, Python 3.4 reached EOL a few days ago, so I have not bothered to build 3.4 wheels.  Use version pinning in case you need to support old configurations.

[2019-03-18 09:42] #727 closed

[2019-03-20 09:31] mzoll commented on #655
Just encountered the same problem on a similar structured Table description:
Even if creating wide, structured tables should not be possible, please, at least make the Error message more precise, as 'There is a problem' has no indication on what the problem actually is (how it would be identified or possibly resolved). Also, with a quick web-search I could not find any prominent information in the

[2019-03-20 12:57] FrancescAlted commented on #655
Agreed that the error message can be more explicit.  As per supporting very wide tables, pull requests are welcome, as always.

[2019-03-20 19:27] lisamartin72 opened #728 "Updated NumFOCUS donation link"
Hi, I am a new staff member at NumFOCUS. We have updated our donation provider from Flipcause to Salsa. The new link is:

https://numfocus.salsalabs.org/donate-to-pytables/index.html

Please update your website accordingly. : )

Thanks,

Lisa Martin
NumFOCUS

[2019-03-22 21:52] kylekeppler opened #729 "Mock dependency"
Mock was recently added to requirements.txt as a dependency. Setup.py copies requirements.txt to install_requires thus making mock an install time requirement.

The commit shows, and searching the code verifies, that mock is only required for test: https://github.com/PyTables/PyTables/commit/b721f8b19f5e6e48a84bc80ba5c3fd8be95c6b93

Should this really be made an install time requirement? Wouldn't

[2019-03-23 00:34] michaelaye commented on #719
Interesting, it's not mentioned in the release notes for 3.5.1 that the fix is in? I think this is pretty much sufficiently important to be mentioned, considering how many people have HDF containers that became unreadable with the numpy 1.16 version because of this.

[2019-03-23 08:17] avalentino commented on #719
@michaelaye there is a small mention in the release notes for PyTables v3.5 (2119c44751d7632417b2c0dc69a20c683186529e). Maybe it is not visible enough actually.
Please feel free to suggest a better wording.

[2019-03-23 12:19] tomkooij commented on #729
`test_require` does make sense *but* if you want to run:

[code]

After installing the package from source/wheel/conda/etc then you will still need `mock`.

So I figure `mock` might be a runtime dependency. (We want to be able to run the test suite for every install)

I'm not sure which is best. I feel having mock as a runtime dependency is not a big burden.

[2019-03-24 01:05] michaelaye commented on #719
That note is fine but I’m confused about its location, if this patch only went in at 3.5.1? That’s why I didn’t see it before.

[2019-03-24 06:26] FrancescAlted commented on #719
This patch actually went into 3.5.0.  Maybe the root of your confusion is that I screwed the wheels for 3.5.0 and had to release 3.5.1 just to fix the wheels. See https://github.com/PyTables/PyTables/issues/725.

[2019-03-24 06:27] michaelaye commented on #719
I see, thanks!

[2019-03-27 02:49] j-muller opened #731 "Reading HDF5 file change the file modification time"
Dear all,

It seems that starting from the last PyTables version (3.5.1), reading a HDF5 file with the default flags (`mode='a'`) will automatically change the file modification time.
Here is an example:

[code]

This issue does not appear when using `pd.read_hdf(..., mode='r')`, but it can be quite confusing in many cases.

Is it intended?

[2019-03-27 02:59] NewbiZ commented on #731
Agree that this is an annoying issue. Opening a file (even for writing) should not actually touch it if no writing takes place in the end.

[2019-03-27 03:24] gavincyi commented on #731
The same issue experienced here when no byte written on the file changes the modification time.

With mode 'a', the mtime is changed even no change is made.

[code]

[2019-03-27 08:39] FrancescAlted commented on #731
As far as I know, no changes in PyTables 3.5.x should affect the file modification time.  It occurs to me that this could be a change in the latest versions of HDF5.  PyTables wheels are using latest HDF5 1.10.4, so you may want to try linking against HDF5 1.8.x (or install PyTables wheels < 3.5.1) and see if this issue is gone.

[2019-03-28 10:43] tomkooij commented on #729
Superseded by conda-forge/pytables-feedstock#50

[2019-03-29 15:19] glaucouri commented on #401
Up to now, yes. This is a big issue for us. Did someone found any solution?

[2019-04-03 12:42] peircej commented on #673
This got resolved in py2app so that the `-headerpad_max_install_names` flag isn't needed elsewhere in the end.

[2019-04-03 12:42] #673 closed

[2019-04-10 13:44] ajennings6767 commented on #713
I am having similar issues, despite having the distributions you indicated above:

![image](https://user-images.githubusercontent.com/30580411/55883928-2d404a00-5b75-11e9-8949-544e5ad997f5.png)

Any thoughts?

[2019-04-19 09:59] nooperpudd opened #732 "Unable create file when using mode `a`"
macos version: 10.4.4
hdf5 version:  1.10.5
tables version: 3.5.1

[code]

[code]

[2019-04-19 10:04] nooperpudd commented on #732
Warning: hdf5 dependency gcc was built with a different C++ standard
library (libstdc++ from clang). This may cause problems at runtime.

[2019-04-19 10:11] #732 closed

[2019-04-23 05:31] constantinevitt commented on #636
@scholz Have you managed to resolve this? I seem to be getting the same error.

[code]

[2019-04-23 15:34] constantinevitt commented on #636
@FrancescAlted , @avalentino
Any chance you could point me in a direction towards resolving this?

This works locally on my macOS, but not inside a docker container:

Docker Container - Not Working
[code]

macOS - Working
[code]

[2019-04-23 17:04] FrancescAlted commented on #636
Ok, that's a good hint.  I see an apparent difference between the boxes: docker is using HDF5 1.10.2, which may have a regression.  My advice is try using a more recent HDF5 library (FWIW, the wheels for latest PyTables release are using HDF5 1.10.4).

[2019-05-08 05:00] cgohlke opened #733 "Python 3.8.0a4 RuntimeError: dictionary keys changed during iteration"
I get 11 test errors on Python 3.8.0a4 due to https://github.com/python/cpython/pull/12596

[code]

[2019-05-09 16:39] kjmeagher opened #734 "Alignment issues with python3"
There seems to be some sort of alignment issue with python3 on Macos. With this test file in python2 i get the correct results:

However with python3 i get:

It appears to be some sort of alignment issues because if each row is 128 bytes it works fine and with other size rows I get segfaults.

This only happens with files written with the libhdf5 and not files written by pytables. I put the test f

[2019-05-10 09:12] FrancescAlted commented on #734
Yes, this should not be happening.  We need to find the root of the problem, but if the meanwhile you can contribute a solution, we will be really grateful!

[2019-05-13 13:58] tomkooij commented on #733
I'm trying to build pytables against `python 3.8.0a4` but I'm stuck a numpy which will not build because of a Cython incompatibility against 3.8: https://github.com/cython/cython/issues/2938

When I have a working build, I'll try to sort this one out...

[2019-05-22 11:10] hroncok commented on #733
We have the same problem in Fedora. How can I help you set up your environment? Would a Dockerfile work for you?

[2019-05-22 11:47] hroncok commented on #733
Here's how to run the testusite:

[code]

[2019-05-22 14:11] keszybz opened #735 "tests fail on s390x with AttributeError: 'UnImplemented' object has no attribute 'cols'"
I'm trying to build pytables 3.5.1 on s390x (in Fedora). The tests fail on one architecture:
[code]

Full log: https://kojipkgs.fedoraproject.org//work/tasks/3058/34993058/build.log
Build: https://koji.fedoraproject.org/koji/taskinfo?taskID=34993036

[2019-05-23 11:29] keszybz commented on #735
Oh, I didn't see this before:
[code]
So that explains where UnImplemented came from.

[2019-05-23 11:59] FrancescAlted commented on #735
Ok.  That makes sense.  Big endian architectures have not been too much tested, and this error is probably a sign that indexes in PyTables files are not portable between little and big endian machines.  But apparently there are no more errors, so hopefully this is the only issue in big endian platforms.

[2019-05-23 20:07] tomkooij commented on #733
@hroncok : Thanks, I'm going to try and replicate your workflow (and hopefully fix my cython problems).

[2019-05-25 17:28] tomkooij commented on #731
This is probably due to HDF5 1.10 locking files when reading. To be able to implement SWMR (single writer multiple readers) the HDF5 library must lock file even when reading in non-SWMR mode, to prevent a SWMR writer from opening a file for writing when a non-SWMR is reading.

[2019-05-25 17:28] #731 closed

[2019-05-27 13:24] hroncok commented on #733
based on Cython issues progress, I've edited the procedure to use https://github.com/cython/cython/pull/2971 instead of https://github.com/cython/cython/pull/2954

[2019-05-29 17:45] #733 closed

[2019-05-30 18:01] tomkooij commented on #728
Fixed in 7dc837c

[2019-05-30 18:01] #728 closed

[2019-05-30 18:01] tomkooij commented on #722
Closed due to inactivity

[2019-05-30 18:01] #722 closed

[2019-05-30 21:31] halfhorst opened #739 "New minor version doesn't package hdf"
It seems HDF isn't packaged up in the new release. My packages that used to install with 3.5.1 now fail with "Could not find a local HDF5 installation."

edit: the wheels aren't up yet

[2019-05-30 21:34] bgeltz commented on #739
+1, I'm also seeing this.

[2019-05-30 21:34] dianarg commented on #739
I am seeing this issue as well.  Steps to reproduce:
[code]

Output from pip install:
[code]

[2019-05-30 21:37] halfhorst commented on #739
It looks like it may just be an asynchronous rollout, only tar is up right now. For now pinning to 3.5.1 works just fine.

[2019-05-30 22:09] cgohlke commented on #733
Thank you. All tests pass now with Python 3.8.0a4 on Windows.

[2019-05-31 04:22] tomkooij commented on #739
Yes. I pushed the release tarball to PyPI while the wheels were still building. I'll update the release procedure to hopefully prevent this in the future.

Wheels are up!

[2019-05-31 04:22] #739 closed

[2019-06-12 08:09] laurenceanthony opened #740 "PyTables does not return the first row when using itersorted with a negative step"
'm using the itersorted method in PyTables. All rows are returned correctly when the step is set to a positive value, but the first row is not returned when using a negative step value. I asked about this on StackOverflow and one reply suggests it could be a bug.

Below is test code that illustrates the problem:

	import tables

        class DBEntry(tables.IsDescription):
		id = tables.Int16Col()

[2019-06-17 15:59] cristi-neagu opened #741 "Creating a CArray fails when only required parameters supplied"
Hello,

The following code fails:

[code]

It is the example given for creating a CArray, with only the required parameters supplied to `create_carray`. It fails with the following error:

[code]

Since the class declaration looks like this:
`class tables.CArray(parentnode, name, atom=None, shape=None, title='', filters=None, chunkshape=None, byteorder=None, _log=True, track_times=True)`
I would e

[2019-06-17 16:19] scopatz commented on #741
Thanks for opening this @cristi-neagu

[2019-06-26 12:47] markgoodhead opened #742 "Single threaded read performance issue"
Hello,

I'm trying to read from my pytables EArray file compressed using the blosc filter. My file is 5.7GB on disk and around 71GB in memory. When I run the following code:

[code]

I find that loading the whole file takes ~44 seconds. htop shows the python process saturating a single CPU core and (somewhat surprisingly) iotop doesn't show any read operations (I assume whatever syscalls are being

[2019-07-08 15:49] rth commented on #742
It doesn't sound like BLOSC is the bottleneck, http://blosc.org/pages/blosc-in-depth/ indicates an order of magnitude faster decompression times even with a single thread.

I imagine it would have been interesting to see how long that files takes to load without compression. Also providing the output of,
[code]
in ipython might be relevant to measure the amount of time spend on syscalls and the im

[2019-07-08 16:45] markgoodhead commented on #742
Yes it could well be due to not multi-threading the read more generally than just decompression, e.g. here's my timings (all in seconds) for one particular file:

[code]

So the fastest read times are still for the uncompressed file, although at that file size it's quite possible I'm approaching being IO bound. I've still not managed to make any read throughput improvement here in PyTables.

[2019-07-08 17:13] FrancescAlted commented on #742
Ok, so if your file is just 3 GB and you mentioned that your box has more
than 64 GB, then what you are measuring is the I/O speed of the page cache
of your OS.  For actually measuring the *disk* I/O time, it is necessary to
clear the page cache (see
https://www.tecmint.com/clear-ram-memory-cache-buffer-and-swap-space-on-linux/).
However, this is only usful for reading measurements, while for writ

[2019-07-09 09:16] markgoodhead commented on #742
@FrancescAlted Ah yes good point - although if anything this error in benchmarking just highlights the CPU bottleneck more as it removes the IO contention by making it memory bound instead. Do you have any suggestions as for what we could attempt to tweak to improve read throughput?

[2019-07-10 07:16] yaniszhang opened #743 "version 3.5.2 new hdf5 file with chinese name got garbled file name under windows with python 3.7 which version 3.2.2 with python 3.5 is ok."
version:
python: 3.7
tables:3.5.2

[2019-07-11 07:46] sergiopasra opened #744 "Python 3.8 ImportError: cannot import name 'clock' from 'time'"
`time.clock` will be removed in Python 3.8 after being deprecated in Python 3.3

[code]
The recommendation is to change `clock` by either `time.perf_counter`or `time.process_time`

The differences between both functions are subtle, but it seems that `timeit`is using `time.perf_counter`, so I would use that function

See also: https://www.webucator.com/blog/2015/08/python-clocks-explained/

[2019-07-17 06:23] avalentino commented on #735
The origin seems to be an assertion failure in index.py: Indec._g_post_init_hook:

[code]

I don't think that relevant code for indexing has been changed recently and I suppose that previous builds on s390x worked fine.
It would be interesting to know which is the change that triggered the issue: gcc version , hdf5 version, build flags?

@keszybz do you have he possibility to investigate the probl

[2019-07-17 07:21] FrancescAlted commented on #735
Ok, I was not really conscious that tests were passing in s390x architectures before, so probably worth to spend some time looking at what caused this (hdf5 version, python version, compilation flags...).

@avalentino I might be wrong, but I don't think the assert can be dropped; perhaps commenting this assert out and see if tests pass is certainly another option.

[2019-07-20 20:26] tomkooij commented on #744
Fixed in #745

[2019-07-20 20:26] #744 closed

[2019-08-05 20:39] keszybz commented on #735
Unfortunately not. I can only build packages there ;(

[2019-08-07 13:55] tomkooij commented on #734
I can reproduce this on my Windows / python 3.7 env.

The hdf5 contains:
[code]
and
[code]
I'll investigate.

[2019-08-14 14:48] dreamflasher opened #756 "Missing documentation for creating columns containing arrays"
The documentation here https://www.pytables.org/usersguide/datatypes.html mentions "while the data type of array elements can be set through the use of the Atom class and its descendants". Unfortunately, in the linked documentation there is no mentioning of how to create a column containing arrays.

How do I create a column that can have as a value `np.ndarray([1.0, 0.5])`?

[2019-08-14 14:56] dreamflasher commented on #756
I searched for a solution for 4 hours, a bunch of stackoverflows also looking for an answer – it looks like that's what the shape attribute in the column is for. Apparently no Atomic types are needed, but the Column types are sufficient. I'd recommend documenting this and providing an example.

[2019-08-14 15:44] tomkooij commented on #756
@dreamflasher: Thanks for pointing this out. As you have noticed, proper documentation can mean a lot to users. Would you be willing and able to provide a PR for the documentation?

If you can provide a short example, that would be helpful as well. I

[2019-08-16 12:21] GHaccount123 opened #757 "open_file() does not support non-ascii pathnames"
I cannot open a file with (I assume) non-ascii characters in the path name.

[code]
gives the error
[code]

The built-in open()-function and h5py.File() support them so this can be confusing, if no support of this is foreseen then perhaps add a more meaningful error message?

[2019-08-16 16:50] avalentino commented on #757
Dear @GHaccount123,
unfortunately I'm not able to reproduce your error.
Can you please post the complete error message (including the traceback)?
Also, can you please provide more information about your environment (OS, python version, pytables version)?
The output of the following command should be a good start:
[code]

[2019-08-19 16:21] GHaccount123 commented on #757
Hello,

the output is
[code]
Moreover, according to the error back trace the error is thrown in H5FDsec2.c with the error message
[code]

[2019-08-19 21:56] avalentino commented on #757
OK there seems to be nothing strange in your setup.
Unfortunately I do not have access to a windows machine so it is hard for me to track down the issue.
Can you please post the full traceback?
You should have a long traceback with a python specific part and a section regarding the C level HDF5 error stack.

[2019-08-20 06:51] tomkooij commented on #757
I can reproduce this. As stated by the TS, pytables cannot open a file with unicode in the path. Unicode in the filename is not an issue.

Full backtrace:

[code]

[code]

[2019-08-20 07:09] tomkooij commented on #757
Looks like an libhdf5 issue.

It seems `tables.utilsextension.encode_filename` work fine, but we maybe running into [this](https://forum.hdfgroup.org/t/non-english-characters-in-hdf5-file-name/4627/8) (or similar) libhdf5 issue.

[2019-08-20 17:36] avalentino commented on #757
@tomkooij thanks for investigating.
It seems that h5py implemented a workaround by means of  `filename_encode`/`filename_decode` functions (see h5py/h5py#841).

[2019-08-20 18:34] tomkooij commented on #757
@avalentino
the h5py `filename_enode` is indeed different from pytables `encode_filename`:

[code]

I'll add this to the 3.6 milestone. I'll try and include a fix, but not really high-priority  (But perhaps @GHaccount123 can submit a PR?)

[2019-08-21 14:14] penderm opened #758 "error: could not create 'my repo'.egg-info': Permission denied"
Trying to figure out why my CD keeps failing when running the job to migrate all CI/CD to CircleCI. Getting below error, not sure how to fix it yet.

python3 setup.py sdist bdist_wheel
running sdist
running egg_info
creating tag_manager.egg-info
error: could not create 'tag_manager.egg-info': Permission denied
Makefile:17: recipe for target 'pip-build-module' failed
make: *** [pip-build-module] Er

[2019-08-21 14:58] #758 closed

[2019-08-22 14:06] danieljacobs1 commented on #729
According to https://pypi.org/project/mock/

It doesn't look like PyTables supports that old a Python version (the PSF doesn't!), so that sounds like the `mock` dependency can be removed?

[2019-08-22 14:16] avalentino commented on #729
+1

[2019-08-22 14:18] danieljacobs1 commented on #729
And Python 2.7 support has already been dropped https://github.com/PyTables/PyTables/pull/747

[2019-08-23 09:01] tomkooij commented on #729
Will do

[2019-08-30 15:16] tomkooij commented on #729
Fixed in #759

[2019-08-30 15:16] #729 closed

[2019-08-30 19:48] tomkooij opened #760 "ImportError on Python 3.8b4 windows"
When building pytables on Windows (64bit/MSVC 2019) on Python 3.8beta4 I get an ImportError:

[code]

The wheel provided by @cgohlke works fine... I have diffed master against the wheel, but only some changes in `__init__.py` which are needed anyway for python3.8b4/windows.

I've tried `python setup.py install` and building a wheel and installing the wheel. The utilsextension-*.pyd module is prese

[2019-08-30 20:05] cgohlke commented on #760
Are all the required DLLs (e.g. hdf5.dll, zlib.dll) located next to the `utilsextension-*.pyd` file? Python 3.8 no longer searches the directories specified in the `PATH` environment variable for DLLs.

[2019-08-31 13:13] tomkooij commented on #760
@cgohlke: Thanks for pointing that out, that must be the culprit, but...

For both your wheel and the wheel I generated with `python setup.py bdist_wheel` the *.pyd and *.dll files are located in `Lib\site-packages\tables`. Both wheels look exactly the same, but obviously something is different in configuration because my wheel fails on `import tables` with the above `ImportError`

[2019-08-31 13:50] tomkooij commented on #760
So, I tinkered some more: It is due to `hdf5.dll` cannot be imported.

When I overwrite the installed `hdf5.dll` by the version from the cgohle wheel, the `ImportError` is gone. (Pytables tests then fails with HDF5 library mismatch, but that's obvious).

So the problem is the link(er) between `hdf5.dll` and the *.pyd. I just upgraded to MSVC 2019, so I hope that is not the issue...

[2019-09-01 12:26] tomkooij commented on #760
So I messed up mixing VS2017 and VS2019... (doh!).

After compiling the HDF5 library from source using VS2019 it works fine.

There's still the issue cgohlke pointed out: Python 3.8 changes the way DLL are loaded. As (not) loading DLLs is probably the number 1 PyTables issue reported by users (at least before we were providing wheels) this is something we need to deal with. I'll created a new issu

[2019-09-01 12:26] #760 closed

[2019-09-01 12:30] tomkooij opened #761 "py38: deal with os.add_dll_directory"
From https://docs.python.org/3.8/whatsnew/3.8.html:

DLL (not) loading is a typical PyTables issue. There is some code (`setup.py` and `tables/__init__.py`) that fiddles with DLLs loading and PATH. This needs to be looked at for py38.

This does not work on py38 for example: https://github.com/PyTables/PyTables/blob/master/tables/__init__.py#L51

I'll figure out if changes are needed and/or fix th

[2019-09-09 13:21] tomkooij commented on #761
This affects at least two scenario's on py38 / windows if `hdf5.dll` is somewhere in PATH (which it usually is, when building pytables from source).:
 - Installation from source using `python setup.py install` will seem to work, but `import tables` will fail. Cannot find `hdf5.dll`. hdf5.dll will not be copyied into `site-packages` and will not be found in PATH.
 - Wheel building will fail: `setup

[2019-09-11 13:09] #761 closed

[2019-09-11 17:47] ghcollin opened #763 "Point selection modifies key array"
When passing a numpy array as an index, point selection will attempt to modify the given array to correct for negative indices.

Consider the following example:
[code]

The output of this example is:
[code]

If the third indexing operation is uncommented, the following exception is thrown:
[code]

There are a few issues that I see here
- Pytables modifying the key was unexpected behaviour to me.
-

[2019-09-12 07:26] tomkooij commented on #763
@ghcollin Thanks for reporting. I agree with your analysis and using a copy of the indexing array should work (although there is a big memory penalty for large indexarrays)

I'll at least document this behaviour for the next release, I'm not sure I can find the time to fix this.

Are you able and willing to provide a fix / PR? Do you need help with a PR if you have a fix? Thanks!

[2019-09-23 12:33] tkintscher commented on #734
I just ran into the same issue. If it helps, this also occurs in Python2.
Everything works in version 3.4.4, the broken behavior starts with version 3.5.1.

[2019-09-23 13:59] tomkooij commented on #734
Thanks putting the finger on the sore spot @tkintscher: I can confirm this broke between 3.4.4 and 3.5.1.

Comparing: https://github.com/PyTables/PyTables/compare/v3.4.4...v3.5.1
Points to: https://github.com/PyTables/PyTables/pull/720 as the probable culprit. But that's a large PR.

[2019-09-23 19:29] tomkooij commented on #734
I checked / review the offsets PR, but could not find anything wrong. `Table.description._v_offsets` seems to work fine.

I'm do not have time to investigate further, so I'm leaving some verbose info about this:

`test.hdf5` file has some strange padding:
[code]
This struct should be 8 bytes. In fact, it is 8 bytes when I recreate the dataset.

[2019-09-23 19:59] jvansanten commented on #734
One thing to note is that the library that wrote the test file above creates compound types whose size is guaranteed to be a multiple of the size of the widest supported type (currently `long double`). For example, in the test file `h5ls` shows
[code]
. This means that you can potentially run into trouble if you assume the size of an item is the offset+size of the last field. It looks like this is

[2019-09-23 20:13] jvansanten commented on #734
I suspect that the underlying issue here is that the only way to control the padding in a `numpy.dtype` is via the `align` keyword, whereas the padding in an HDF5 compound datatype is completely arbitrary. If that is the case, then there's no way to expose the in-memory representation of the example table as a numpy array, and the incompatibility never showed up before because PyTables removed wha

[2019-09-24 07:01] tomkooij commented on #734
@jvansanten: It should be possible to extract the correct `numpy.dtype` from the HDF5. I'll try to find some time for this.
Thanks for the help!

[2019-09-24 10:49] jvansanten commented on #734
Right, it looks like you should be able to reach slightly deeper into `PyArray_Descr` and set the itemsize explicitly rather than relying on https://github.com/numpy/numpy/blob/7214ca4688545b432c45287195e2f46c5e418ce8/numpy/core/src/multiarray/descriptor.c#L1012-L1338 to do it for you. Whether you rely on HDF5's guarantee that fields in a compound datatype do not overlap or reimplement the dtype s

[2019-09-24 19:11] gma-uw opened #764 "Bad pattern matching in setup.py"
In setup.py, I find the lines:
                if 'H5_VERS_MAJOR' in line:
                    major_version = int(re.split("\s*", line)[2])

the header file it is processing has this #define:
line = "#define H5_VERS_MAJOR	1	/* For major interface/format changes  	     */"
the split re.split("\s*", line) returns:
['', '#', 'd', 'e', 'f', 'i', 'n', 'e', '', 'H', '5', '_', 'V', 'E', 'R', 'S', '_', '

[2019-09-24 19:40] avalentino commented on #764
@gma-uw that line seems to be no longer in the `setup.py`.
Which version of PyTables are you using?
Can you update to a newer version?

[2019-09-25 08:35] tomkooij commented on #734
Setting the correct `dtype` in `Table._v_dtype` solves this:

In the interactive session below, I set `Table._v_dtype` to the correct dtype matching the HDF5 file. I then successfully loaded the data into an array:
[code]

Unfortunately setting the correct dtype for the Table upon initialisation does not seem to be a oneliner fix... But I'll work on it some more, when time permits.

[2019-10-02 05:18] SarahRQazi commented on #395
I have successful install tables. Here is the log.
[code]
But when I run program which require tables it again gives me error.
[code]
 So what should I do to resolve this?

[2019-10-02 08:22] tomkooij commented on #395
@SarahRQazi : You are experiencing import problems that are outside of the scope of pytables. Something is wrong with your python installation and/or `venv`.

We cannot help. I suggest you try anaconda / miniconda and/or start with a fresh python installation.

[2019-10-02 10:04] tomkooij opened #766 "WIN: Python 3.8rc0 : can't find hdf5.dll in egg"
EDIT: No this was all wrong:
`python setup.py bdist_wheel` should included (vendored) DLLs in the wheel.

`python setup.py install | develop` should NOT include DLLs in egg/installation.

This means from python 3.8 onwards, we cannot reliably use eggs on windows. I will update docs.

[2019-10-02 15:02] tomkooij commented on #766
Omg... this is probably just __init__.py that needs fixing.

Will do.

[2019-10-02 17:11] #764 closed

[2019-10-03 13:40] mamikonyan commented on #655
The actual problem here is likely the overflow of the HDF5 object header, which is 64KiB, if I remember correctly.

[2019-10-10 06:54] #766 closed

[2019-10-10 07:01] #743 closed

[2019-10-10 07:02] tomkooij commented on #743
Closed due to insufficient info. Please provide small script showing the defect.

[2019-10-10 07:02] tomkooij commented on #756
Closed due to inactivity.

[2019-10-10 07:02] #756 closed

[2019-10-10 13:20] tomkooij commented on #715
The only real solution is to rename the vendored `hdf5.dll` as stated above. If not: Welcome to DLL Hell.

There are currently no plans to start renaming hdf5.dll for our wheels. But PRs are welcome.

[2019-10-10 13:51] stefanoborini commented on #715
@tomkooij what is the reason why the rename was undone?

[2019-10-10 13:55] tomkooij commented on #715
@stefanoborini : I'm not sure why the rename was undone on the h5py side. But AFAIK pytables wheelbuilders have never renamed the vendored DLLs.

I'll be glad to support the renaming of vendored wheels, it's just a pain to do automatically. I have no time to set it up. (There is a tool a bit similar to patchelf/auditwheel: https://github.com/njsmith/machomachomangler that might fix this)

[2019-10-11 07:46] tomkooij commented on #715
@stefanoborini : I checked: @cgohlke builds the h5py windows wheels. I'll see if it it possible to use *the same* hdf5.dll for pytables wheels. Renaming dlls in our vendored wheels is not trivial.

[2019-10-13 13:21] #734 closed

[2019-10-14 16:14] kjmeagher commented on #734
@tomkooij, thanks for looking into this and fixing it!

[2019-10-16 20:15] dannosliwcd opened #772 "Python 2 pip selects PyTables 3.6.0, which is only available for python 3"
Pytables 3.6.0 reports to pip that it is compatible with python 3, then issues an incompatibility message after the package is downloaded. This can be avoided by specifying the required python versions through `python_requires` in the `setup()` call in `setup.py`
[code]

[2019-10-17 05:46] tomkooij commented on #772
OMG. We have once more wandered into the realms of "packaging Hell".

Thanks for reporting @dannosliwcd. You are right that `python_requires` is missing from `setup.py`.

I'll probably will not be able to push a new package to PyPI (and delete 3.6.0) before the end of October.

In the meantime `pip install tables=3.5.2` will have to be the workaround... :-(

[2019-10-17 21:46] rly opened #773 "Python 3.5 wheels?"
Since there are no wheel files for Python 3.5 on PyPI for the latest PyTables 3.6.0, trying to install PyTables on Python 3.5 requires building the wheel, which results in the below error on Windows.

Similarly, because there are no wheel files for Python 3.5, hdf5 is not being bundled, and I get the below error on Linux.

Could wheels for Python 3.5 be provided? Thanks.

## Windows
[code]
resulte

[2019-10-18 17:59] rly commented on #773
I see. Thanks for letting me know!

[2019-10-21 14:52] jgaffiot opened #774 "Installation error with Python 3.8"
Hello,
I tried to update my project to Python 3.8, and I just could not install PyTables in my virtual environment, while it works with Python 3.7.5 (all other parameters equals).
My setup:
- Linux Mint 19.2 (aka Ubuntu 18.04)
- gcc 7.4 or gcc 8.3 (both fail)
- tables 3.6.0 (as it should be compatible with Python 3.8)
- numpy 1.17.3
I tried with `pip`  and `pipenv`, same result.

The full error me

[2019-10-21 15:27] iipr commented on #774
Similar issue for me with:
- Python 3.8
- Ubuntu 16.04
- gcc 5.4.0
- tables 3.6.0
- numpy 1.17.3

[2019-10-21 23:22] tomkooij commented on #774
Probably due to cython being outdated. Try to upgrade cython.

We may need to update our cython requirement.

[2019-10-22 08:14] jgaffiot commented on #774
Apparently, Cython was not installed at all in my virtual environment (import error when trying `import Cython`, no `cython` binary). So I manually installed Cython (0.29.13) and tried again to install PyTables, but the result was exactly the same.

Then I looked in the `tables-3.6.0.tar.gz` tarball and found that the file `tables/utilsextension.c` causing the compilation error was generated by Cy

[2019-10-22 08:14] iipr commented on #774
Thanks for your support @tomkooij.
I have latest Cython installed (0.29.13).

[2019-10-22 11:07] tomkooij commented on #774
I don’t think the tarball should contain *.c at all. It should be generated by cython.

Try ‘make distclean’ before ‘python setup.py ...’

I’m not at my desk right now. I won’t be able to offer any real support until next Monday.

[2019-10-22 11:38] jgaffiot commented on #774
It works when the installation is made manually : cloning the repository, then running `python setup.py build` and `python setup.py install` (with Cython 0.29.13). But my goal is to use `pip` or `pipenv`, so that I can install all my dependencies from a `requirements.txt` or a `Pipfile.lock`. It worked when until now with Python 3.6 and 3.7 and all the `tables` versions of the past 2 years.

No wo

[2019-10-22 13:19] iipr commented on #774
Indeed building from source seems to work, which for me is fine for the time being.
Thank you both for the comments!

[2019-10-23 17:36] tadashigaki commented on #740
I think this issue is caused by below sections.

https://github.com/PyTables/PyTables/blob/0ad9f90060f6a0a30bc9cab0a6a9f4993046daa7/tables/tableextension.pyx#L883

https://github.com/PyTables/PyTables/blob/0ad9f90060f6a0a30bc9cab0a6a9f4993046daa7/tables/tableextension.pyx#L996

[2019-10-23 18:26] yyngwong commented on #774
Hello, similar problem here with utilsextension, will try building from source instead.

`    tables/utilsextension.c:7107:13: warning: assigning to 'char *' from 'const char *' discards qualifiers [-Wincompatible-pointer-types-discards-qualifiers]
      __pyx_t_1 = blosc_list_compressors();
                ^ ~~~~~~~~~~~~~~~~~~~~~~~~
    tables/utilsextension.c:7281:55: warning: passing 'char **'

[2019-10-23 18:30] yyngwong commented on #774
Hello, similar problem here with utilsextension installing through pip, will try to build from source instead.

[code]

[2019-10-24 11:16] iamhectorotero commented on #385
In my case, to make the ```pip install tables``` work in Linux in a Conda environment I had to previously install:
[code]
Alternatively, (and without Conda) I could make it work with:
[code]
--------------------------------
If the ```python-lzo``` installation fails, try installing:
[code]

[2019-10-27 15:02] tomkooij commented on #774
We pack cythonized `*.c` files in our `sdist` that is uploaded to PyPI. This is done to prevent a user needing to install Cython for `pip install`.

This is [good practice according to the distutils docs](https://docs.python.org/3/distutils/sourcedist.html) for source distributions (sdist). However, this seems broken as changes in the C-API from python 3.8 make `*.c` files created by cython incomp

[2019-10-27 15:10] tomkooij commented on #385
@iamhectorotero : Do you really need to `pip install h5py` (or `conda install h5py`) ? I'm guessing this just installs the HDF5 lib as this is an h5py dependency.

Using conda try just installing the hdf5 package:

`conda install hd5`
or
`conda install -c conda-forge hdf5`

Without conda you need:

`apt-get install libhdf5-serial-dev`

[2019-10-27 15:28] iamhectorotero commented on #385
Yeah that's possible. However, when I installed the `libhdf5-serial-dev` package through apt, `pytables` couldn't find the package's directory even if I pointed at it with `HDF5_DIR`.

I guess installing `h5py` dealt with that as well. Maybe installing `hdf5` through Conda solves it too.

[2019-10-27 15:45] tomkooij commented on #385
@iamhectorotero : Ok, thanks for clarifying that. (I'm not sure why that fails, as this is what we use on Travis CI). I'll try to update the docs about his.

[2019-10-27 15:48] tomkooij commented on #774
The embarrassing thing is, we install from sdist on Travis CI to prevent this mess, but we do not test building the sdist on a specfic python version and subsequently installing from that sdist on a different python...

[2019-10-28 11:26] tomkooij commented on #773
I fixed the python 3.5 wheels, will release py35 windows wheels for 3.6.1

[2019-10-28 16:46] ZanSara opened #776 "Build libhdf5 with the --enable-threadsafe flag"
Hello,

It seems to me that PyTables relies on the version of `libhdf5.so` found in the system rather than building its own, and that most systems have versions of `libhdf5.so` that are compiled without the `--enable-threadsafe` flag (please correct me if I'm wrong). This causes some annoying concurrency issues even while reading files (probably issues #700 and #593, Pandas issue [#12236](https://

[2019-10-28 16:53] ZanSara opened #777 "Link to custom build of libhdf5"
Hello,

I am trying to use PyTables over a custom build of `libhdf5.so`, which I placed under `/usr/local/hdf5`.

I can build PyTables successfully with `python setup.py install --hdf5=/usr/local/hdf5`, but later on if I try to import it I get this error:
[code]
I can fix this error by doing `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/hdf5/lib`, but this is annoying as I have to remember t

[2019-10-28 18:40] tomkooij commented on #777
@zansara: I don't think there is a way to "hard code" the library location at install time at this time.

This should be possible using a trick in setup.py... PRs are welcome. :-)

[2019-10-28 20:50] tomkooij commented on #773
py35 windows wheels now at PyPI

[2019-10-28 20:50] #773 closed

[2019-10-29 06:47] #609 closed

[2019-10-29 06:47] #612 closed

[2019-10-29 06:47] #613 closed

[2019-10-29 12:06] jetuk opened #778 "Cython import issue with 3.6.1"
I have had an issue importing my library which utilises Cython. The error occurred as occurred on appveyor is below. I have isolated the causes of this failure to using pytables-3.6.1. An earlier build using 3.6.0 did not have this issue.

I have since done a test CI build on appveyor with pytables<3.6.1 and this works. See here:

https://github.com/pywr/pywr/pull/790

I'm not sure what has change

[2019-10-29 12:09] jetuk commented on #778
I should also add this error has occurred on appveyor (Windows) but not travis (Linux). The latter uses 3.6.1 successfully.

[2019-10-29 12:13] ZanSara commented on #776
Thank you for your help!

[2019-10-29 12:19] ZanSara commented on #777
Ok I will work on this one. Thank you for the pointer!

[2019-10-29 13:37] tomkooij commented on #778
The Pytables 3.6.0 sdist on PyPI was generated with Cython 0.29.8 (or similar, at least I version that did not yet support the py3.8 C-API changes.)

The Pytables 3.6.0 sdist on PyPI was generated with Cython 0.29.13 (most recent)

Have you tried using the latest cython?

[2019-10-29 13:39] tomkooij commented on #776
Once this get merged, I'll rebuild the wheels for 3.6.1 and let you know here.

[2019-10-29 14:05] jetuk commented on #778
I'm using pip rather than conda. It is using the latest Cython 0.29.13 and the Pytables wheel from Pypi rather than the sdist.

[2019-10-29 16:56] tomkooij commented on #778
@jetuk: I had a look at your build. I don't see anything PyTables related. However, you are importing both `pandas` and `tables`. Could that cause some kind of cyclic import hell??
When I google `has no attribute '__reduce_cython__'` that does [pop up.](https://github.com/cython/cython/issues/1953)

Note that `pytables<3.6.1` installs release 3.5.2 as 3.6.0 has been deleted on PyPI because the 3.6

[2019-10-29 21:29] jetuk commented on #778
Yeah this is really confusing to me. We don't do anything besides import pandas and tables. Nothing with their Cython extensions directly. I do wonder if this is just a recent change in Cython and Pytables is my first dependency to be rebuilt with a newer version.

It was my understanding that a fix was applied to Cython to resolve the circular / repeat import issue.

I haven't managed to reproduc

[2019-10-30 07:40] WestXu opened #779 "Could not load any of ['hdf5.dll', 'hdf5dll.dll', 'pytables_hdf5.dll'], please ensure that it can be found in the sys tem path."
After install tables 3.6.1, this happens:
[code]

`pip install tables==3.5.2` fixes it.

[2019-10-30 10:11] tomkooij commented on #779
:-(

I'll have a look.

[2019-10-30 14:43] tomkooij commented on #779
Sadly, I can reproduce this... All windows wheels seem to be affected.

The strange thing is that `hdf5.dll` is both packaged and installed with the wheel. *and* the wheel is tested (in a separate env) and works on the wheelbuilder.

I'll have a look at the wheel builder, to try to figure out what is wrong.

[2019-10-30 19:49] tomkooij commented on #779
I don't really understand why the wheels are broken. And I won't invest any time in the current windows wheelbuilder.

I've got an experimental windows wheelbuilder (that vendores `hdf5.dll` as `pytables_hdf5.dll` to prevent DLL Hell) that I need to (and will) finish.

I've replaced the py38, py37 and py36 windows wheels with my experimental builds. These at least seems to work, but probably need

[2019-11-04 10:01] jgaffiot commented on #774
It works with release 3.6.1, thanks!
The installation time is much longer than with Python 3.7 + tables 3.5 though, I assume that all the files created by cython are now locally compiled.
Thanks again for your support,
Jonathan

[2019-11-04 10:13] tomkooij commented on #774
@jgaffiot thanks for reporting back.

There are python 3.8 manylinux wheels on pypi, so installing from source should not be necessary.

[2019-11-04 10:13] #774 closed

[2019-11-05 01:38] tdagnino commented on #776
Hi,

I'm sorry if I`m posting my question in wrong way but I've been really struggling with this problem for a few days now and came onto this bug fix which really got my hopes up but I've had no success with the 3.6.1 version I installed with pip.

I'm having the same problems with multiple threads with release 3.6.1 on windows.

My program is very simple. Actually, I've ultra simplified it and s

[2019-11-05 12:44] tomkooij commented on #776
@tdagnino : The current wheels vendor a HDF5 lib that is not yet compiled with the `--enable-threadsafe` flag.

Still working on this over at matthew-brett/multibuild#277

Will report here when finished.

[2019-11-06 13:26] tomkooij commented on #776
@ZanSara threadsafe wheels (`3.6.1-2`) are on test.pypi,org. Can you test a wheel before I upload them to the real pypi and break everybody's builds?

You can install from testpypi using:
[code]

This *should* install a manylinux wheel (on Linux) with hdf5 compiled with `--enable-threadsafe`

Please let me know if you are able.

[2019-11-06 15:11] ZanSara commented on #776
I have a try now and let you know soon :+1:

[2019-11-06 16:26] ZanSara commented on #776
My original test code was written with Pandas, not directly with PyTables, and with it, recompiling the library solved the bug just fine. However, installing the test version of tables you linked (before installing Pandas of course) doesn't fix Pandas bug.

For reference, my test code is taken from one of the issues I reference above:
[code]
For reference, on a vanilla version of Pandas the code c

[2019-11-06 20:27] cgohlke commented on #779
The `hdf5.dll` in the wheels on PyPI depends on `zlib.dll`, which is not distributed.

[2019-11-07 08:12] tomkooij commented on #779
@cgohlke : Thanks for helping out! However: `hdf5.dll` (from the wheelbuilder, build by conda) does indeed depend on `zlib.dll`: This applies to versie `3.6.1` of the wheels.

The wheels currently on PyPI (version `3.6.1-2`) are built against `pytables_hdf5.dll` which is statically linked against zlib, and does not require `zlib.dll`. That's why it is not included in the wheel.

(I checked with de

[2019-11-07 09:44] ZanSara commented on #776
Ok, here is the modified test (I post it so you can double-check for mistakes):
[code]

If you comment out the concurrent read code, the script above works fine. If you run it all, it will crash with one of these two errors at random:
[code]
or
[code]
This is what happend with the current PyTables, so not with your test ones yet. Now I setup with your version and let you know.

[2019-11-07 09:53] ZanSara commented on #776
I can confirm that the new test version does not fix the bug.
If there is a way for me to help you debug this further, let me know :)

[2019-11-07 11:41] tomkooij commented on #776
@ZanSara thanks this helps a lot! I will look into it and come back to you (probably asking for more help)

[2019-11-07 15:43] cgohlke commented on #779
Yes, you are right. I was referring to `3.6.1` wheels which contain `hdf5.dll`, not `3.6.1-2`.

[2019-11-09 20:10] jetuk commented on #778
Seems like my builds are now working without this change. I'm not sure what changed. There's a new version of Cython though.

[2019-11-09 20:10] #778 closed

[2019-11-15 02:13] concretevitamin opened #780 "Does PyTables support hash indexes?"
I'm interested in hash indexes where the target workload is just point(s) lookup: `attr = val`.

At first glance http://www.pytables.org/usersguide/libref/structured_storage.html#tables.Column.create_index seems to be targetting range queries.  What implementation is the current index based on?

[2019-11-15 08:14] FrancescAlted commented on #780
You can see the full details on how indexes are implemented in PyTables in this paper: https://www.pytables.org/docs/OPSI-indexes.pdf

[2019-11-15 19:18] concretevitamin commented on #780
Thanks.  I only skimmed the PSI part.  It seems to me binary searches are involved on a lookup so not really an O(1) hash index.

I'll close this issue - however, I'd love to see support for this in some future version!

[2019-11-15 19:18] #780 closed

[2019-12-06 10:01] raphaelquast commented on #779
I've been running into similar issues using `conda install pytables`   (resulting in pytables 3.6.1)
(on a pc running Windows Server 2012 RC2)
[code]

however, uninstalling it and **re-installing via pip**, e.g. `pip install tables` solves the problem!
(not sure what's happening since it's still v3.6.1)

[2019-12-15 03:33] adamjstewart opened #782 "tables.exceptions.HDF5ExtError: Problems reading the index data in Last Row."
I'm writing some ML/DL research code that uses a PyTorch data loader to read data from an HDF5 file through Pandas/PyTables. The HDF5 file in question is also written using Pandas/PyTables, but on a different machine. I create the file on my laptop, then transfer it to AWS for training. Here are the relevant specs:

### Laptop

- Python 3.7.4
- Pandas 0.25.1
- PyTables 3.6.0
- HDF5 1.10.5
- macOS

[2019-12-16 21:02] tomkooij commented on #782
There shouldn't be any incompatibility between the versions/platforms you use.

Perphaps you can try to use pytables 3.4.3 on your MacOS laptop as well?

If you have a minimal example that reads the file, I can download the file and test it on a local Linux box using PyTables 3.4.3 (with/without pandas)

[2019-12-17 05:13] stephencostiniano commented on #596
Do SWMR Support is available

[2019-12-17 05:46] tomkooij commented on #596
SWMR is currently not supported

[2019-12-17 05:46] #596 closed

[2019-12-17 21:15] adamjstewart commented on #782
@tomkooij here is a smaller version of the file in question: [store.h5](https://github.com/PyTables/PyTables/files/3975428/store.txt) (had to change file extension to .txt to upload on GitHub).

The code to read the file is something like:
[code]
I just discovered one other important clue. PyTorch data loaders allow you to specify how many workers are used to load the data in parallel. With 1 work

[2019-12-18 19:53] adamjstewart commented on #782
Using PyTables 3.6.1, Pandas 0.25.1, PyTorch 1.3.1, and Python 3.7.4 on AWS seems to fix the issue. I'm not sure which of these libraries caused the error, but it seems to be fixed in the latest versions. Thanks for your help in debugging this!

[2019-12-18 19:53] #782 closed

[2020-01-02 09:08] mdickinson opened #784 "generator raised StopIteration (PEP 479)"
We're seeing a `generator raised StopIteration` error in another package that seems to come from the `proxydict` implementation in PyTables.

Example (Python 3.8.1, macOS 10.14.6, PyTables 3.6.1):

[code]

This is likely related to [PEP 479](https://www.python.org/dev/peps/pep-0479/). The cause seems to be here: https://github.com/PyTables/PyTables/blob/1e7b14e87507c2392265321fe18b2f1f5920ea7f/tab

[2020-01-02 13:33] avalentino commented on #784
Thanks for reporting @mdickinson.
It should be fixed now (a575bc3f70e0c822eddc3f365ee4ccc0204b9bee)

[2020-01-02 13:33] #784 closed

[2020-01-02 14:05] mdickinson commented on #784
@avalentino Thank you for the speedy fix!

[2020-01-04 21:58] narun4sk commented on #385
I've stumbled upon the same problem on `Debian GNU/Linux 9.11 (stretch)` :disappointed:

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

Is there anything else I may try?

[2020-01-08 09:16] tomkooij commented on #779
Might be related: https://ci.appveyor.com/project/PyTablesBot/pytables/builds/29773046/job/xed63kk50g76y5lv

[2020-01-08 11:01] DmitriiDeriabinQB opened #785 "Installation of 3.6.1 breaks on Python 3.5"
I get the following error when trying to run `pip install "tables==3.6.1"` Python 3.5.5 in conda virtual env:
[code]
The same command on the same machine succeeds with Python 3.6.7.
Running `pip install "tables<3.6.1"` also succeeds with both Python 3.5 and 3.6.

OS: MacOS 10.13.6
Conda Version: 4.7.12
HDF5 Version: 1.10.4
HDF5 Installation point: `~/anaconda3`

[2020-01-08 19:00] tomkooij commented on #785
Yes, there are no python 3.5 wheels for 3.6.1.

[2020-01-08 19:00] #785 closed

[2020-01-09 04:15] adam-azarchs opened #786 "MAX_NUMEXPR_THREADS should honor NUMEXPR_MAX_THREADS environment variable"
`tables.parameters.MAX_NUMEXPR_THREADS` currently uses a [hard-coded default of 4](https://github.com/PyTables/PyTables/blob/a575bc3/tables/parameters.py#L216). The [numexpr documentation](https://numexpr.readthedocs.io/projects/NumExpr3/en/latest/user_guide.html#threadpool-configuration) states that the thread count can be configured with the environment variables `NUMEXPR_MAX_THREADS` and `NUMEX

[2020-01-09 06:39] tomkooij commented on #786
ping @FrancescAlted

[2020-01-09 08:35] FrancescAlted commented on #786
Yes, I think it makes sense to set the `tables.parameters.MAX_NUMEXPR_THREADS` to default to `NUMEXPR_NUM_THREADS` env variable, if set; if not set, then one should do nothing and let numexpr to figure out how many threads should be spawn by default.

Also, please note that `tables.parameters.MAX_NUMEXPR_THREADS`  is actually equivalent to `NUMEXPR_NUM_THREADS` (not `NUMEXPR_MAX_THREADS`)

[2020-01-17 09:24] #772 closed

[2020-01-19 06:24] tbenst opened #788 "[feature-request] Support Single-Writer/Multiple-Reader (SWMR)"
Thanks for all the great work on PyTables! I've fully switched over from h5py after realizing that PyTables is 10x faster when using zstd compression filter.

Main pain point for me is lack of [SWMR](https://support.hdfgroup.org/HDF5/Tutor/swmr.html) support. I understand this was briefly discussed in https://github.com/PyTables/PyTables/issues/596.

I have multiple scripts that need read-only acc

[2020-01-19 17:33] #715 closed

[2020-01-19 17:34] #742 closed

[2020-01-19 17:34] #777 closed

[2020-01-19 17:35] tomkooij commented on #779
Fixed in #787

[2020-01-19 17:36] #779 closed

[2020-01-19 17:37] tomkooij commented on #726
Close due to missing information. Please reopen with more information.

[2020-01-19 17:37] #726 closed

[2020-01-19 17:40] tomkooij commented on #735
Closed. Please reopen if access to s390x platform to test/fix.

[2020-01-19 17:40] #735 closed

[2020-01-21 09:12] DmitriiDeriabinQB commented on #785
@tomkooij thanks for response. Do you still intend to provide Python 3.5 wheels going forward for tables 3.6+?

[2020-01-28 23:26] erik-mansson commented on #499
Although this thread is long and titled as an issue about reading, I hope it makes sense to describe a write-issue I have about not being able to set the UTF-8 metadata information. If this info could be set, the reading side would also be better suited to automatically convert correctly without guessing. This is unrelated to any confusion about fixed/variable byte-length vs. number of characters.

[2020-02-04 20:54] Dapid opened #790 "Crashes on parallel reads"
I have a file with one group and one array, and two parallel threads reading random chunks. While the individual threads work perfectly well, when running at the same time, I get HDF5 tracebacks. According to the documentation, it should work because I am only reading.

[code]
Here is a fully reproducing minimal example: https://gist.github.com/Dapid/7a5cdb04c2ababbd86d6513002a37d69

It seems that

[2020-02-16 11:54] Marco-Sulla opened #791 "Add lzma compression?"
I know, `lzma` is slow and resource-intensive. But it offers a great compression ration, even compared to `bz2`. And it's official supported in the standard library.

I think that if time and memory is not an issue, but size yes, `lzma` can be a good alternative to `bz2`.

[2020-02-23 04:38] neurochen opened #793 "saving strings in array"
I want to save a string with variable length into an array in pytables, which is also called a "dataset" in HDF5. I tried to get it working, without success. Does anyone know how to do it with pytables? Thanks.

[2020-02-26 15:31] tomkooij commented on #793
`Tables.VLArray`:
http://www.pytables.org/usersguide/libref/homogenous_storage.html?highlight=vlarray#tables.VLArray

[2020-02-26 15:31] #793 closed

[2020-03-03 18:45] elampl commented on #717
!pip install --upgrade tables this helps

[2020-03-03 23:19] dmendres opened #794 "Recursive groups break the walk methods (and ptdump)"
HDF Group examples are breaking ptdump (or the attached script). walk_nodes or walk_groups will not terminate when run against either of the attached files. These files come from the hdf group examples site: (https://support.hdfgroup.org/ftp/HDF5/examples/files/exbyapi/).

[hdf5GroupRecursionExamples.tar.gz](https://github.com/PyTables/PyTables/files/4284058/hdf5GroupRecursionExamples.tar.gz)

[fa

[2020-03-07 14:51] shiyi-pan opened #795 "version"

[2020-03-07 14:55] shiyi-pan opened #796 "version problem"
I installed a software named  HiCExplorer ,and pytables >= 3.5 was needed ,but I only found 3.2.0, Is there is an >= 3.5 version  or not ? can you give me an download URL?

[2020-03-07 19:25] FrancescAlted commented on #796
Latest PyTables version is 3.6.1.  You can have a look at all the releases here: https://github.com/PyTables/PyTables/releases.

[2020-03-07 19:25] #796 closed

[2020-03-08 00:36] shiyi-pan commented on #796
Thank you a lot.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Francesc Alted"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月8日(星期天) 凌晨3:25
收件人:&nbsp;"PyTables/PyTables"<PyTables@noreply.github.com&gt;;
抄送:&nbsp;"梦"<1343213784@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PyTables/PyTables] version problem (#796)

Closed #796.

—
You are receiving this becau

[2020-03-08 00:38] shiyi-pan commented on #796
Thank for your help. I found it.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Francesc Alted"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月8日(星期天) 凌晨3:25
收件人:&nbsp;"PyTables/PyTables"<PyTables@noreply.github.com&gt;;
抄送:&nbsp;"梦"<1343213784@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PyTables/PyTables] version problem (#796)

Latest PyTables versio

[2020-03-08 06:07] #795 closed

[2020-03-19 19:30] MaxNoe commented on #48
Ran into this again today.

As a site note, h5py does support the hdf5 variable length strings. Maybe you can have a look into their implementation on the python side?

[2020-03-24 19:08] kanak opened #797 "Table.where() with start but no stop & step has surprising behavior"
https://github.com/PyTables/PyTables/blob/master/tables/leaf.py#L442

In that case, it will only query in [start, start +1) i.e. the start row. Based on python indexing behavior, I would expect it to search in [start, nrows).

Here's a code snippet that illustrates the problem:
[code]

[2020-03-30 09:51] marfel commented on #633
Ok, I just stumbled over this too. Since it apparently hasn't occurred to anyone else in the last three years, and it hasn't been fixed either (by simply inserting a `return`), am I to assume the `filenode` extension is officially dead now?

I was trying to use `filenode`s to save PyTorch nets in the h5 tree, using `torch.load` and `torch.save`. However, there must be another bug somewhere in the

[2020-03-30 11:02] avalentino commented on #633
Hi @marfel  i prepared the patch (tests are currently running) and i plan to merge it ASAP.
The fix should be in the next PyTables release.
Regarding other issues you are experimenting please feel free to open a new issue with some information on how to reproduce.

[2020-03-30 11:20] #633 closed

[2020-04-02 16:56] daniel-raimi-zlatic commented on #48
I also keep running into this problem, I am in a similar situation to @jdasmith . @MaxNoe I did look into h5py for variable length strings last year but it didn't work (I cannot remember why, but I think it was an issue caused by a different dataset in the hdf file).

I do not think I have the pytables know-how to start a PR for this - but is there any interest in reopening this thread? I know tha

[2020-04-09 19:45] melissawm opened #798 "PyTables user guide Object Tree example fig is broken"
In Firefox on Linux, if you go to [the User Guide](https://www.pytables.org/usersguide/introduction.html), Figure 2 captioned "Figure 2: A PyTables object tree example." is broken, see attached screenshot:

[Screenshot](https://imgur.com/a/IOT87yJ)

[2020-04-10 06:16] #798 closed

[2020-04-10 06:24] avalentino commented on #798
Thanks @melissawm, it should be fixed now

[2020-04-12 19:24] yanxon opened #799 "PyTorch Tensor"
Does PyTables support saving and loading torch tensor?

I tried to do the following:
[code]

And it gives me the following error:
[code]

[2020-04-20 14:56] jamesmyatt opened #800 "Read file after module renamed"
I have an HDF5 file created with PyTables. However, when I load it I get the following error:

[code]

This is caused by having moved/renamed the YYY module. **What's the easiest way to fix this?** Is there a tool to re-write the HDF5 file with the updated module names?

This is what you might do for a simple pickle file: https://stackoverflow.com/questions/40914066/unpickling-objects-after-renami

[2020-04-25 16:21] leolchat commented on #577
I am dealing with a fully sorted indexed element and still trying to get only one element is really slow:
```next(table.where('234 < foo').__iter__())```

My current understanding of that issue is that the creation of the iterator requires `get_chunkmap` to fully populate the chunkmap and that seems extremely expensive.

In get_chunkmap, the call to `_read_index_slice` will return an array of mill

[2020-05-06 13:37] austinzh commented on #698
I am working on that.

PR will be coming soon. For big category table. Almost 2~3X faster than header attribute storage.
[code]
[code]

[2020-05-07 16:01] harzus commented on #579
yep, that would be nice. otherwise i can't think of a better way than loading it into numpy and do it there

[2020-06-01 17:10] dearkarm opened #806 "https://www.pytables.org/docs/manual link is dangling"
Hi there,

While reading "Hints for SQL developers" I found that https://www.pytables.org/docs/manual link is pointing to a 404 page.

Hope that helps.

[2020-06-01 18:19] avalentino commented on #806
Fixed in 5440d146ee98146934a92aad8633f3b1ca39876a.
Thanks @dearkarm

[2020-06-01 18:19] #806 closed

[2020-06-16 01:58] cjrh commented on #790
Thanks for linking your reproducer examples, it really helps a lot. I am not a maintainer of pytables, but I'm just beginning to use this library and trying to figure out how to use it safely.

Looking at `reader2.py`:

The default "start method" in multiprocessing is `fork`. The problem with fork is that it copies file handles into subprocesses. The `h5` file handle in your parent process is copi

[2020-06-16 17:58] kylerioux opened #807 "ImportError: DLL load failed: The specified module could not be found."
Hello,

I am trying to get pytables to work in Windows but I am running into some issues. I saw one thread online with a similar issue to this in the condas forum here: https://github.com/conda-forge/pytables-feedstock/issues/31 however none of their solutions worked for me (also preferably I would not use condas). Any recommendations?

this is the error I get any time i try to 'import tables':
![

[2020-06-17 16:22] iamhectorotero commented on #385
Indeed @tomkooij, using:
[code]
as you pointed out instead of my suggestion (installing `h5py` `python-blosc` and `python-lzo`) solves the issue as well.

PS. Sorry for the ~8m reply.

[2020-07-17 09:13] MaxNoe opened #808 "__str__ fails if pathlib.Path is used for filename"
[code]

[2020-07-17 14:03] #808 closed

[2020-07-20 15:36] #807 closed

[2020-07-21 11:39] MaxNoe opened #811 "Files cannot be opened when list of filters differ from when written and filters were supplied globally"
## Description

When `filters` is supplied globally when creating a new file using `open_file(..., filters=Filters(...)`, these files cannot be opened, if the   list of filters differes from the ones which which the file was created.

## Cause

When providing global `filters` for a file, an hdf5 attribute `FILTERS` is added to the root and each group in the file, containing the number obtained by

[2020-08-04 20:15] TomAugspurger opened #813 "Add option to disable reading with pickle"
PyTables uses pickle to serialize and deserialize objects (http://www.pytables.org/usersguide/libref/declarative_classes.html#tables.ObjectAtom) and I believe some attributes.

Would it be possible for PyTables to include an option to disallow pickle when loading data? Similar to how NumPy added an `allow_pickle=False` to `numpy.load`?

This is related to, but hopefully easier to implement, than h

[2020-08-14 14:03] michelmno commented on #735
Same failure for ppc64 (BE) on openSUSE as reported in OBS (1) for version 3.6.1 with Traceback extracted from attached file.
[code]
[python_tables_standard_ppc64_202008141516.log](https://github.com/PyTables/PyTables/files/5074957/python_tables_standard_ppc64_202008141516.log)

I have a local ppc64 guest, I could make some trials if that could help (I am not familiar with python)

(1) https://bui

[2020-08-17 02:23] tbenst commented on #48
I too run into this issue with datafiles I receive from a 3Brain MEA system, would be great to support as I much prefer tables to h5py!

[2020-09-03 10:54] TheHaricover opened #814 "DeprecationWarning tostring() and fasts tests"
I installed PyTables on Arch and set up following the installation part of Readme in GitHub. Everything went smooth.

But when I launched the tests, with `$ python3 -m tables.tests.test_all` the script told me that it would take 4 hours, it only took 5 minutes and there are a lot of lines with the `DeprecationWarning: tostring() is deprecated. Use tobytes() instead.`

At the end, the test wrote:
[

[2020-09-04 21:33] smiet opened #815 "Crash on import (using HDF5 1.12)"
gives a crash on import with the following message:

[code]

[2020-09-04 21:55] smiet commented on #815
Error with pipman package isnstallation. The community package works a charm.

[2020-09-04 21:55] #815 closed

[2020-09-05 19:12] avalentino commented on #814
@TheHaricover thanks for he report.
Luckily it ha been already fixed in master (see #810).
The fix will me in the next release.

[2020-09-05 19:12] #814 closed

[2020-09-16 12:01] MaxNoe commented on #811
Could any maintainer at least comment on this? We are facing this issue with important data files.
It would be great if this issue could be addressed.

[2020-09-16 12:46] #811 closed

[2020-09-16 12:47] FrancescAlted commented on #811
Yes, your diagnositic and PR #812 are correct.  I've just merged your PR.  Thank you and sorry for the incoveniences!

[2020-09-25 02:43] Alon-Retispec opened #819 "Add dtype=object to key = numpy.array(key)"
In https://github.com/PyTables/PyTables/blob/master/tables/leaf.py#L542
need to change  `key = numpy.array(key)` to `numpy.array(key, dtype=object)` due to numpy deprecation warning:

[2020-09-25 06:31] avalentino commented on #819
Thanks @Alon-Retispec , good catch.

I also have had that warning on my radar for a while but never had the time to investigate.
The point is that IMHO flat lists/tuples shall be converted into numpy arrays wit the proper type.
key.dtype is handled few lines after point in the code where the warning is raised.
Using ``object`` would always result in a type error: https://github.com/PyTables/PyTabl

[2020-09-26 20:43] #819 closed

[2020-10-01 15:43] jondoesntgit opened #820 "Shouldn't Time32 and Time64 objects return datetime64 type?"
Consider the sample script:

[code]

Now, if I want to get my data out, I can run

[code]

But then I'm left with numpy arrays of type `int32` and `float64` respectively, even though the underlying types in hdf5 are `time32` and `time64` (c.f., `table.cols.timestamp32[:].type`).

The behavior that I was expecting can be achieved with the following:

[code]

Is there any reason why this can't be th

[2020-10-01 15:52] jondoesntgit commented on #820
Also, I notice that in my `Description` class, I get the expected behavior for default values for a Float32Col with nan values, but not with a Time64Col.

[code]

[2020-10-02 10:37] Shreeyak commented on #219
I just faced this error. Ubuntu 18.04, python 3.8.

[code]

I installed HDF5, but still got a similar error message. This time though, it detected the location of hdf5 install. Wonder why it still failed:
[code]

[code]

Maybe I needed to clear cache when installing via pip? Exporting env var HDF5_DIR solved it though:
[code]

[2020-10-02 16:57] jondoesntgit opened #821 "Column attributes (e.g., units)?"
I see that there is an API for assigning attributes to groups and tables, but no API for assigning attributes to groups. However, PyTables adds table attributes for column metadata such as FIELD_8_NAME, FIELD_8_FILL, etc... Is there some sort of API for possibly assigning metadata? For example

[code]

would create table metadata

[code]

I know there is a package called [pint](https://github.com/

[2020-10-05 17:56] jbrockmendel opened #822 "closed node warnings"
I've started seeing a bunch of warnings in the pandas test suite of the form:

[code]

Does this indicate we're doing something incorrect/unadvisable?  Suggestions on how to address?

[2020-10-09 07:33] xmatthias opened #823 "release wheels for python 3.9"
Currently, [pypi](https://pypi.org/project/tables/#files) does not contain wheels for python 3.9.

I know python 3.9 just came out - but it would be great if the last release (or a new release - considering the last release has been over a year ago) could be updated to include Wheels for python 3.9 to simplify installation.

[2020-10-25 15:52] Sophia409 opened #824 "Importing pytables (3.6.1) in python 3.7.8 fails for me in windows system"
Hi,

After installing and uninstalling pytables packages for many times, I still couldn't import tables.

Hope for your help

[code]

[2020-10-27 10:50] Hckjs opened #825 "Can't append tables with different byte offsets"
This comes up, when i try to append just specific columns of a larger table to another smaller table with just these specific columns. I guess #58 could somehow solve it.

[code]

The problem is, that PyTables can't just write the view of the table into the already existing table, because of the different byte offsets. So you have to repack the fields first like:
[code]

Is there a reason for that

[2020-10-27 14:47] maxnoe opened #826 "Make a new release?"
There are some bug fixes in the current master that would be nice to have in a release.

Since the last point release is over a year old, could you maybe make a 3.6.2?

[2020-10-28 10:26] exrich commented on #824
+1.  I have the same issue on python 3.7.9.  This seems to be related to blosc and perhaps a module called snappy.  Downgrading to blosc=1.20.0 caused snappy to be reinstalled and fixed the issue for me.

[2020-10-28 12:12] avalentino commented on #824
@Sophia409, @exrich thanks for reporting.
As far as I can understand the issue seems to be mainly related to conda packaging of pytables.
Probably it is a good idea to open a corresponding issue on https://github.com/conda-forge/pytables-feedstock.

[2020-10-29 19:54] pllim opened #827 "MNT: Stop using ci-helpers in appveyor.yml"
To whom it may concern,

If you are using https://github.com/astropy/ci-helpers in your appveyor.yml , please know that the Astropy project has dropped active development/support for Appveyor CI. If it still works, good for you, because we did not remove the relevant files (yet). But if it ever stops working, we have no plans to fix anything for Appveyor CI. Please consider using native Windows su

[2020-11-02 15:50] maxnoe commented on #48
And again. With the recent changes in h5py 3.0 (using var-length strings by default for unicode data) pytables is no long able to copy nodes created by `astropy.table` due to the missing support of variable length strings.

[2020-11-14 16:50] amotl commented on #823
Dear @avalentino, @tomkooij, @PyTables and @numfocus,

first things first: Thank you so much for conceiving and maintaining PyTables.

Binary wheels for Python 3.9 for all of lxml, h5py, Pandas and Numpy are already available on PyPI these days. At @earthobservations, we just have been able to upgrade to the most recent releases on [Wetterdienst](https://github.com/earthobservations/wetterdienst)

[2020-11-14 21:47] sunilshah opened #828 "Install failure on macOS 11.0.1 Homebrew python 3.9 on Intel Hardware"
# Pip install of PyTables fails with an error.

   On a freshly installed MacOS 11.0.1, on Intel CPU based MBP, using Homebrew python 3.9.  (3.9.0_1):

[code]

[2020-11-15 08:36] avalentino commented on #823
OK i managed to build wheels for linux locally.
@tomkooij  if you do not have plans to build wheels via [pytables-wheels](https://github.com/MacPython/pytables-wheels) I could try to upload mines.

[2020-11-17 18:01] amotl commented on #823
Dear Antonio,

thanks a bunch already. While I am just getting started to learn about the package publishing infrastructure behind the different Python packages for scientific computing, there is nothing that I could really contribute here other than pointing out what others are doing, especially in the light of switching away from Rackspace and staging packages through either AppVeyor/Travis/Anac

[2020-11-17 18:25] avalentino commented on #823
Dear Andreas,
thank you for the pointers. I also used cibuildwheel to build wheels locally. I agree with you, it is a very nice tool.
I have just uploaded wheels for GNU/Linux.
Unfortunately I do not have too much time in this moment to setup a CI job to generate and upload wheels automatically.
If you are able to generate missing wheels please feel free to share them in some way or contact me in

[2020-11-17 20:39] amotl commented on #828
Hi there,

I don't know if this helps, but it works on my machine with macOS 10.13.6 and Python 3.9.0b5.

<details>
<summary>
pip install tables
</summary>

[code]
</details>

<details>
<summary>
versions
</summary>

[code]
</details>

With kind regards,
Andreas.

[2020-11-17 21:10] sunilshah commented on #828
Thanks Andreas

On my 10.13.6 mac machines, tables  has been installed successfully.  The problem is only on 11.0.1 machine.

I am not sure if I should crossflie this issue on Homebrew.

Suggestions?

[2020-11-17 22:52] amotl commented on #823
Dear Antonio,

well, I will be happy to provide a wheel for macOS using Python 3.9. Saying that, I am a newcomer here so I will probably have to learn from you first.

I just familiarized myself a little bit with the matter by cloning the repository, building it and running the tests on Python 3.8.6. It worked fine so far.

Now, I ran a build using `python setup.py bdist_wheel` within a pyenv'ed P

[2020-11-17 23:10] amotl commented on #823
Hi again,

I am in the same situation, but maybe I can spare some time for that. At https://github.com/pydata/numexpr/issues/367#issuecomment-727765557, @mattip shared some recommendations.

While he said that NumPy uses Travis CI, https://github.com/numpy/numpy/pull/17738 shows that all Linux x86 jobs moved to GHA already and they are also planning to do this for the Windows/macOS builds.

Should

[2020-11-17 23:14] mattip commented on #823
Just to clarify: my intention in the comment you linked to was to point out that NumPy still uses travis-ci for some non-x86 platforms.

[2020-11-17 23:17] amotl commented on #823
All right, thanks for clarifying this, Matti! I believe that ARM64/AArch64 will gain more popularity in the future and I am looking forward to learn how to build packages for this by reusing what you are doing at NumPy [1].

[1] https://github.com/numpy/numpy/blob/master/.travis.yml

[2020-11-18 00:08] YannickJadoul commented on #823
Not a lot of times to get into a library/build process that I don't know, but if there are questions about `cibuildwheel`, happy to answer them :-) (here or on Gitter, or wherever suits best)

Apart from the cibuildwheel docs, I'd suggest just starting out with [the examples](https://github.com/joerick/cibuildwheel/tree/master/examples) and seeing what goes wrong. If `setup.py bdist_wheel` or `pip

[2020-11-18 00:17] amotl commented on #823
Thanks for your encouragement, Yannick!

As the whole build machinery of @NumPy looks rather complex, I believe it might not yet be possible to easily go along with `cibuildwheel`. However, here with `PyTables`, I just had to invoke `pip install cython numpy` before being able to build with `python setup.py bdist_wheel`.

So, I will be happy to apply the `cibuildwheel` GHA example here if @avalent

[2020-11-18 00:57] amotl commented on #828
Dear @sunilshah,

I believe this is related to the switch to clang 12 starting with macOS 10.15 (Catalina), see also https://github.com/microsoft/jericho/issues/37 and https://github.com/kaldi-asr/kaldi/issues/4155.

Maybe you can apply the gist how @FrancescAlted fixed this with https://github.com/Blosc/c-blosc/commit/5fc66f7cdcff969b47332ed843be5f344a5543cc and https://github.com/Blosc/c-blosc/c

[2020-11-18 01:29] amotl commented on #823
Dear @mattip,

accidentally, I just discovered how SQLAlchemy runs tests and builds wheels for ARM64/AArch64 on GHA through Docker/QEMU, see https://github.com/sqlalchemy/sqlalchemy/pull/5480 by @odidev.

With kind regards,
Andreas.

[2020-11-18 01:40] amotl commented on #823
Dear @YannickJadoul and @mattip,

through https://github.com/tornadoweb/tornado/pull/2923, I also just discovered the [Run-On-Arch GitHub Action](https://github.com/marketplace/actions/run-on-architecture), which promises to execute commands on armv6, armv7, aarch64, s390x and ppc64le.

However, @bdarnell said at https://github.com/tornadoweb/tornado/pull/2923#issuecomment-699570811 that

Maybe th

[2020-11-18 02:11] sunilshah commented on #828
In my case, I did install pytables 3.6.1 on Catalina 10.15, python 3.8 without errors before I upgraded the machine to Big Sur 11.0.1.

I will test Blosc install separately using pip and try the proposed fixes on Big Sur 11.0.1.  Thanks a lot.

Sunil

[2020-11-18 03:19] amotl commented on #828
You are welcome, all credits go to @xytxytxyt and @FrancescAlted. It would be nice to also submit a corresponding PR to this repository so others can benefit from this outcome. Thanks already!

[2020-11-18 07:26] avalentino commented on #823
Dear @amotl personally I think that GHA + cibuildwheel is the way to go.
Don't know if other developers have comments about this.

The key point for PyTables builds is the setup of C/C++ libraries necessary to build.
Blosc is not a problem because we have the source in the repo but:

* hdf5
* zlib
* bzip2 (optional)
* lzo2 (optional)

must be installed on the system before building wheels.

Fro li

[2020-11-18 10:29] avalentino commented on #823
Very nice!
Thanks for the pointers @amotl.

[2020-11-18 12:23] YannickJadoul commented on #823
@amotl

That should be pretty straightforward to do with `CIBW_BEFORE_BUILD`, indeed.

The mentioned C libraries are potentially a bit more tricky, but should still work similarly. The issue might be on how to package these into a wheel for Windows (since Windows doesn't have an `auditwheel` or `delocate` variant (yet?); related to joerick/cibuildwheel#459 as well). Any idea how that happens curre

[2020-11-18 13:59] amotl commented on #823
Dear Antonino and Yannick,

Sure, sorry for hijacking this thread a bit. But there have been so much valuable information coming together with nice people caring about these topics (thanks!), so I believed it to be a good idea to share these findings with you within this very context.

Sure, will do.

Now, I will actually have to find some spare time to work on the low hanging fruits into the dire

[2020-11-24 04:36] jbrockmendel commented on #828
FWIW i came here with the same problem as the OP, based on [this](https://github.com/PyTables/PyTables/issues/828#issuecomment-729306723) suggestion appear to have solved it with

[code]

[2020-11-24 06:20] avalentino commented on #828
OK thanks @sunilshah, @amotl, @jbrockmendel.
I think we can consider this issue as resolved.
Please reopen if you still have problems.

[2020-11-24 06:20] #828 closed

[2020-11-24 16:43] e-dism commented on #824
I have the same problem by trying to import tables in a python 3.7.9 environment. It seems, that the DLLs are not delivered correctly via pip. Installing the matching wheel file from https://www.lfd.uci.edu/~gohlke/pythonlibs/#pytables let me import tables without error messages.

[2020-11-24 17:30] sunilshah commented on #828
Thanks.  I can confirm that

[code]

solved the problem on my machine.

Thanks.

[2020-11-26 16:10] maxnoe opened #830 "Add VLArrayCol"
Support for storing variable length arrays is currentl;y missing in pytables.

To enable this, a `VLArrayCol` should be implemented

[2020-11-27 07:00] avalentino commented on #830
Dear @maxnoe thank you for your interest in PyTables.
It seems that there is a lot of interest for supporting VL* objects in PyTables.

Personally I have not so much time to dedicate to PyTables in this period so I can't promise anything.
I suspect that the same holds for other PT developers.

Anyway if you want to submit a PR to add this feature (including a minimal testing) I will be happy to re

[2020-11-27 17:28] kcw78 opened #831 "odd string attribute behavior"
I am working with an HDF5 file created by an upstream application (written by a commercial application in C++). It adds 7 attributes to a Group; 6 are "strings" and 1 is an integer array. I have discovered some odd behavior with the string attributes:
1) When I access with `Groupname._v_attrs[name]`, one is is returned as type `<class 'str'>` and the other 5 are returned as type `<class 'numpy.byt

[2020-11-28 08:36] PaulAmosKreiner commented on #714
I know am late to the party but google still links here prominently when looking for info & best practices around storing categories in the stack pandas > pytables > HDF.

1. yes, this is reproducible. especially does it not depend on the non-minimal components of the provided code: choosing "fixed" format over "table" in HDFStore(), using compression in HDFStore(), using expectedrows in append().

[2020-11-28 10:19] avalentino commented on #831
Hi @kcw78 thanks for reporting.
OK, I have checked the code and it seems that the current one is an intended behaviour.

https://github.com/PyTables/PyTables/blob/78a327dafa1086aedb88964510aa69cb68657f4b/tables/hdf5extension.pyx#L212

The general rule for attributes is that only the ones for which the character set has been explicitly set to ``H5T_CSET_UTF8`` are translated into Python strings. Ot

[2020-11-28 10:19] #831 closed

[2020-11-30 01:43] kcw78 commented on #831
Hi Antonio,
Thanks for researching this and providing a very detailed explanation.
The use of a system reserved attribute (VERSION) was unintended, and the
associated behavior explains what I'm seeing.
And, it explains why I see different behavior with PyTables and h5py.
So, 2 mysteries solved at the same time. :-)

FYI, I am fine with the use of H5T_CSET_ASCII (vs H5T_CSET_UTF8 ), and
subsequent

[2020-12-05 09:17] kartzke opened #832 "Support for Apple's arm64 architecture (osx-arm64)"
Hello, I get the following error when trying to install tables on a MacBook Pro with the M1 processor.  Part of the error shows PyTables supports ARM, but it failed to detect the CPU, so I'm guessing it's related to `osx-arm64`

`cpuinfo failed, assuming no CPU features: py-cpuinfo currently only works on X86 and some PPC and ARM CPUs.`

Here's the full error:

[code]

[2020-12-05 11:29] avalentino commented on #832
The problem seems to be that the setup script is unable to find the local installation of HDF5.
Hopefully something like the following should solve the issue:
[code]

[2020-12-05 13:13] kartzke commented on #832
Thanks for the quick reply, I'll give this a try when I'm back to my laptop next week and confirm

[2020-12-06 06:06] suitablyquantified commented on #807
Solution?

[2020-12-15 02:33] kartzke commented on #832
Looks like HDF5 doesn't support `osx-arm64` yet, I'll try to raise a ticket in that repo:

https://anaconda.org/anaconda/hdf5

[2020-12-15 06:36] avalentino commented on #832
OK thanks @kartzke. I'm confident the it will be available soon. Please keep us informed.
I'm closing this issue because it seems there is nothing we can do until HDF5 is available.
Please feel free to reopen if you have other problems with the setup on osx-arm64

[2020-12-15 07:01] avalentino commented on #823
FYI I have setup a [basic GHA workflow](https://github.com/PyTables/PyTables/blob/master/.github/workflows/wheels.yml) for building wheels on linux. It would be nice to have also builds for windows and macosx.

[2020-12-16 04:08] yingzhu146 commented on #832
@avalentino I'm trying to build this from source running into some issues that are similar to #385

pip and also cloning from source complain about missing header files:

[code]

I've tried `H5_DIR=/usr/local/ /Users/yingzhu/miniconda3/envs/python38/bin/python setup.py install`, `python setup.py install --hd5=/usr/local/`, and same via pip. I also tried just copying both dylibs and header files in

[2020-12-16 06:39] avalentino commented on #832
@yingzhu146 thanks for the additional info. I have re-opened the issue.

Please consider that I do not have access to an osx-arm64 machine myself so I can't reproduce the issue.
@FrancescAlted do you have a osx-arm64 laptop?

It would help a lot if you could send the complete build log that you get when try to install pytables using ``setup.py`` directly.
The setup script is quite complex but prin

[2020-12-16 18:31] yingzhu146 commented on #832
Thanks for checking this

[code]

[code]

It's 10.12 - I built the release version with CMake - I've just realized that homebrew installed a x86 version at some point too - it might have gotten confused. investigating that now.

[2020-12-16 18:47] avalentino commented on #832
OK, thanks.
Please try
[code]
or the equivalent command for you shell.

[2020-12-16 20:21] yingzhu146 commented on #832
Thanks @avalentino! That didn't help but I fixed it like so:

1) remove my build - it seems there was some build error
2 ) use the prebuilt hdf5 arm package provided by macports (brew doesn't appear to have one)
3) install cblocs from conda forge with miniforge

Now it works.

Thanks for the help!

[2020-12-16 22:46] ste-pool opened #836 "Out of order datatypes in Dataset"
I was working with .h5 files when I noticed some weird behaviour. There is no requirement (I believe!) for the datatypes in a dataset to be in order. For instance, running `h5ls -rfv` on one of these out-of-order h5 files:

[code]

So the data is actually stored in rows as test_15, test_10 and test_5 but added to the datatypes out of order. Some other tools that I use correctly display these types

[2020-12-17 06:25] avalentino commented on #832
Thanks @yingzhu146

[2020-12-17 06:25] #832 closed

[2020-12-18 06:46] #836 closed

[2020-12-19 12:04] eumiro opened #840 "Dropping Python 3.5 support"
Python 3.5 is after end-of-life since 2020-09-30. Dropping its support would allow introduction of f-strings and keep the development modern. In #839 the codebase has already been `pyupgrade`d to Python 3 and some old Python 2 import hacks have been removed.

To abandon Python 3.5 properly, one of the next versions of PyTables should announce the deprecation of Python 3.5.

[2020-12-19 12:14] sgkdev opened #841 "Pypi wheel tables 3.6.1 for Python 3.9 has been compiled with AVX2 instructions triggering SIGILL"
I don't know if it has been done by purpose or not but latest Pypi wheel package **_tables-3.6.1-cp39-cp39-manylinux2010_x86_64.whl_** has been compiled without DISABLE_AVX2.
This cause Python to crash with SIGILL on every system with older CPU not supporting AVX2.

[code]
AVX2 instructions are present on the Python 3.9 PyPi tables package 3.6.1:
[code]
but not on older Python versions (like 3.8)

[2020-12-20 07:43] avalentino commented on #841
Hi @sgkdev thank toy for reporting.
No it has not been done on purpose, I forgot to switch AVX off.
Unfortunately I cannot replace the wheel in pypi, sorry.

[2020-12-24 13:33] bnavigator opened #845 "Test failures in test_vlarray with last release and current master"
Hello, I am trying to fix the currently failing package of python-tables in openSUSE Tumbleweed. Both the last release version 3.6.1 and current master fail 12 times in test_vlarray with the same error from HDF5:

[code]

Any hints?

[2020-12-26 07:35] avalentino commented on #845
I haven't had the time to give a look to it, but if I understand correctly the build of v3.6.1 worked at some point and than started failing, is it correct?
I so It would be interesting to know what changed in the environment and dependencies since the last successful build.

[2020-12-26 12:44] bnavigator commented on #845
The hdf5 library package was [updated from 1.10.5 to 1.10.7](https://build.opensuse.org/request/show/848498) at **roughly** about the same time as the build started to fail: At the end of November. I am not 100% sure though, as I have not found a way yet how to determine the exact change between builds.

[2020-12-26 17:06] avalentino commented on #845
OK, I can confirm that running the test suite in a conda environment with HDF5 v1.10.7 I have several errors (including your one).
Almost all of them seems to be related to compressors.
[code]

[2020-12-31 08:42] #840 closed

[2021-01-02 16:06] #740 closed

[2021-01-04 12:52] zolfariot commented on #841
Confirmed! I am affected on CPU `Intel(R) Xeon(R) CPU E5-2620 v2`.

Working perfectly (tests passed) with:
[code]

[2021-01-05 00:20] Zachweiss20 opened #854 "ImportError: Could not load any of ['hdf5.dll', 'hdf5dll.dll', 'pytables_hdf5.dll'], please ensure that it is installed in the package folder. Windows 10"
python3 -m tables.tests.test_all
Traceback (most recent call last):
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.8_3.8.2032.0_x64__qbz5n2kfra8p0\lib\runpy.py", line 185, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.8_3.8.2032.0_x64__qbz5n2kfra8p0\lib\runpy

[2021-01-05 08:58] avalentino commented on #854
@Zachweiss20 please provide more information:
* windows version?
* python version ? (seems to be 3.8)
* PyTables version?
* Are you using conda?
* Are you using wheels?
* how have you installed hdf5 and pytabels?

[2021-01-05 15:15] Zachweiss20 commented on #854
Hey @avalentino, to answer your questions:
1. Windows 10
2. Python 3.8
3. I have installed tables through pip install tables;  it's version 3.6.1
4. Not using conda
5. Not using wheels
6. I installed h5py 3.1.0, and again from what i've read pytables is ~ tables, I've installed tables ver 3.6.1

[2021-01-05 15:32] avalentino commented on #854
Thanks @Zachweiss20.
Can you please also tell us if during the installation process it has been downloaded ``tables-3.6.1-2-cp38-cp38-win_amd64.whl`` or ``tables-3.6.1.tar.gz``?

[2021-01-05 15:34] Zachweiss20 commented on #854
tables-3.6.1-2-cp38-cp38-win_amd64.whl
Ah, I guess that's the problem: Since i'm not using wheels this version isn't working for me?

[2021-01-05 16:50] avalentino commented on #854
OK, if pip downloads ``tables-3.6.1-2-cp38-cp38-win_amd64.whl`` then you are using wheels as far as I can understand.
The wheel for python 3.8 should work out of the box, it included a copy of the hdf5 dll.

Looking better at your error log I see
[code]
I'm not familiar with this file, it is not part of the PyTables source code.
Do you have an idea where if comes form?

h5py is a python wrapper of

[2021-01-08 14:02] Michel-Settembrino commented on #828
I tried these commands on my MAC but second command fails on my system.

[code]

[2021-01-08 14:56] avalentino commented on #828
@Michel-Settembrino the problem seems to be ``MACOSX_DEPLOYMENT_TARGET`` which is not set by the potables setup script. Probably there is something in you environment that confuses pip.
If you use brew for blosc I recommend to use also python, pip and hdf5 installed form brew.

[2021-01-08 16:53] Michel-Settembrino commented on #828
@avalentino,

I reinstalled using brew but issue isn't solved.

Log of reinstallation using brew:

[code]

[2021-01-08 16:58] jbrockmendel commented on #828
in pandas we recently had to edit our setup.py to make sure that `MACOSX_DEPLOYMENT_TARGET` was a string after homebrew bumped to 3.9

[2021-01-08 17:35] avalentino commented on #828
thanks @jbrockmendel

If I  understand correctly something like the following should solve the issue:
[code]
@Michel-Settembrino can you please confirm?

[2021-01-08 17:42] Michel-Settembrino commented on #828
I got the issue solved by following this post: https://emilwypych.com/2020/11/23/pyenv-problem-macosx_deployment_target11-0/?cn-reloaded=1

Issue was due to wrong clang version. It’s an old version taken from the XCode Command Line Tools 12.2
Updating to XCode Command Line Tools 12.3 solved my issue.

[2021-01-08 17:54] avalentino commented on #828
OK, thanks @Michel-Settembrino

[2021-01-09 08:12] avalentino commented on #854
@Zachweiss20 is this resolved?

[2021-01-22 03:08] amotl commented on #823
Hi again,

based on @avalentino's b71ca545 (thanks!), I wanted to let you know that I am currently working on adding build targets for macOS and Windows on behalf of [1].

With kind regards,
Andreas.

[1] https://github.com/PyTables/PyTables/compare/master...daq-tools:gha-macos-windows-ci

[2021-01-22 07:05] avalentino commented on #823
Hi @amotl, thanks a lot for the fantastic news!
If you prefer you can also open a PR and mark it as WIP until you complete your cleanup job.
Of course we will start reviewing only once you mark the PR as ready for merging.

[2021-01-22 13:01] amotl commented on #823
Hi Antonio,

sure, I will open a PR soon, just fiddling with some more details. As I try to address the full procedure, may I humbly ask if you can add my handle to be able to upload packages to `test.pypi.org`?

With kind regards,
Andreas.

[2021-01-22 14:59] guiweber commented on #854
I'm seeing a similar issue when installing with `pip install tables` for Python 3.9.1. The file downloaded by pip is  `tables-3.6.1.tar.gz`. I've tried installing h5py by I still get the same error message when trying to install tables.

[2021-01-22 15:17] guiweber commented on #854
Ok after researching a bit more it seems that's because no wheels are available for Python 3.9.

Would there by a way to improve the messaging on pip when no wheels are available for the python version?

[2021-01-22 16:02] avalentino commented on #854
maybe the pip option ``--only-binary``

[2021-01-23 07:29] avalentino commented on #823
Hi @amotl not sure I can.
It seems that I'm not even registered to test.pypi.org (my standard pypi.org account doesn't work) so I doubt that I can control the pytables project on test.pypi.org.
Maybe @tomkooij or @FrancescAlted can.

[2021-01-23 13:44] FrancescAlted commented on #823
Hi.  As far as I know, we don't have an account in test.pypi.org (I have tried my regular pypi.org credentials there, but it it is telling me that my username is not found).  Maybe @amotl can create a project with some name for testing purposes (pytables-test?) so as to test the uploading/downloading of wheels.

For what is worth, we recently added the build of wheels for python-blosc using the Gi

[2021-01-26 12:15] eumiro opened #867 "Should we automatically format the Python code?"
Due to the organic nature of the project, many parts have been changed during the years by larger find&replace and the formatting diverged.

I'd propose to settle one standard automatic tool, process the whole codebase at once (with ugly diffs) and then set up an automatic check in CI, together with description in the DEVELOPMENT documentation. Or a `pre-commit` check.

My proposal would be `black

[2021-01-26 14:32] avalentino commented on #867
If I understand correctly the strategy would be to have a big reformat once and then a "stylecheck" test in CI that fails if the formatting is not correct. Isn't it?

IMHO the strategy is mostly OK. Of course we should carefully think about details.

There are a lot of good reasons to reformat the code in a clean and readable way but there are also drawbacks.

A big reformat (to be understood how

[2021-01-26 14:55] albertosantagostino commented on #867
Jumping in just to quickly mention **[yapf](https://github.com/google/yapf)** as a really nice and [highly customizable](https://github.com/google/yapf#knobs) formatter compared to black

[2021-01-26 15:07] eumiro commented on #867
The best moment to reformat the whole repo was at the start of the project. The second best moment is now.

When doing larger refactorings (such as the consistent imports now, or f-strings, or pathlib, or unittest→pytest), there are hundreds or thousands of lines affected. And most of them are changed by a simple find&replace, so I even do not touch these lines manually, just read over them afterw

[2021-01-27 03:14] shexuan opened #869 "Error examples report"
There is a error in `PyTables/examples/array4.py` line 50:
[code]

[2021-01-27 06:50] eumiro commented on #869
Thank you for reporting that, @shexuan

[2021-01-27 07:16] #869 closed

[2021-01-28 06:09] shexuan opened #871 "Is there a method to batch append data for vlarray?"
Hello, I'm reading a lot of csv files and rewrite as hdf5 using pytables, and I find "vlarray.append()" a row each time cost much time (80% of all)， Is there a method to append multiple rows data for vlarray?

Here is my code profile with Line-profiler:
[code]

As show above line 159, `vlarray.append()` cost 79.5% of all program, and `table.append()` also cost 4.9% time of total time.
Is there a m

[2021-01-30 17:25] avalentino commented on #867
[code]

[2021-01-30 18:36] eumiro commented on #867
After my recent big PRs we're are at 1268 now (mostly with too long lines, that went from 94 to 345, which I am totally aware of), so I like the idea of `flake8` very much. After we make this report happy, we can add a `pre-commit` check for `flake8` to prevent further contamination. Anyway making `flake8` happy is always a positive step in the code quality.

[2021-01-31 12:11] avalentino opened #874 "Doctests fail"
[code]

[2021-01-31 12:23] eumiro commented on #874
Oh, we do not have doctest in GHA CI. You installed `pytest-doctestplus`, right?

[2021-01-31 12:29] amotl opened #875 "Compatibility with NumPy 1.20"
Dear @avalentino and @eumiro,

this is just a little heads up coming from [1]. NumPy 1.20 was released yesterday and apparently, PyTables will need some adjustments.
[code]

With kind regards,
Andreas.

[1] https://github.com/daq-tools/PyTables/runs/1800879091?check_suite_focus=true#step:11:3260

[2021-01-31 12:34] eumiro commented on #875
Thank you, @amotl. This is something @keszybz fixed in several cases in #862, but at that time the `numpy` imports were quite heterogeneous. In between I consolidated these imports in #864, but of course, this does not use `np.`, so it escaped our attention.

Would you like to create a PR with all fixes?

[2021-01-31 12:36] amotl commented on #875
Hi Miroslav,

thanks for your quick response. I am currently still busy on trying to push #872 forward and would appreciate if you or @keszybz can follow up on this.

With kind regards,
Andreas.

[2021-01-31 12:38] eumiro commented on #875
No problem, I'll have a look at it. There are problems in #874 anyway, so it is a good moment to fix it and to add doctests to GHA CI.

[2021-01-31 16:23] avalentino commented on #874
Yes I have doctestplus installed but probably it is not strictly necessary

[2021-01-31 22:17] amotl commented on #823
Hi again,

I have been able to make some progress and issued a draft PR at #872.

As you can see from https://github.com/PyTables/PyTables/pull/872#issuecomment-770452079 - and as outlined at [1,2] - there is one thing missing yet. The build process croaks when trying to build wheels on Python 3.9/Windows with `fatal error LNK1181: cannot open input file 'hdf5.lib'`.

I can see the `setup.py` alre

[2021-02-01 06:48] avalentino commented on #823
Thanks a lot @amotl for the amazing job.
As far as I can understand it seems that many of the PyTables maintainers do not have an easy access to a windows machine. I don't know if there is an easy way to run a windows docker container on linux or osx.
Probably we can just go on and merge your PR #872 and leave the remaining wondows/python 3.9 part for a future PR.

P.S. How do you solved the probl

[2021-02-01 07:31] amotl commented on #823
Hi Antonio,

sure, let's go ahead and merge this PR and then look at what it's left later. @FrancescAlted: I could well use `pytables-test` for a testing upload to PyPI. However, I would rather take the chance in order to improve the situation with the original package.

So, I had a look: It looks like @tomkooij is the sole owner of the PyTables package on `test.pypi.org` [1]. It would be super ni

[2021-02-01 09:04] #871 closed

[2021-02-01 09:05] amotl commented on #875
This issue will probably be fixed through #866 and #876, right?

[2021-02-01 10:42] amotl commented on #854
Hi @guiweber,

we are currently working on the infrastructure to build current wheels (see #872). However, we are seeing the same linker error specifically for Python 3.9 on Windows, see also https://github.com/PyTables/PyTables/issues/823#issuecomment-770460668.

Now, we are looking for support from people having a Windows development environment (either on hardware or via VM) who could fiddle wi

[2021-02-01 11:18] avalentino commented on #854
Not sure but the following could be related:
* https://docs.python.org/3/whatsnew/3.8.html#bpo-36085-whatsnew
* https://docs.python.org/3/library/os.html#os.add_dll_directory
*
@amotl can you please give a try to ``os.add_dll_directory``?
It should be enough to add it at the very beginning of ``__init__.py`` and point to the wheel directory containing the hdf5 lib.

[2021-02-01 11:27] amotl commented on #854
Hi Antonio,

thanks for those pointers. I will be happy to do some trial-and-error testing on them. However, I will be busy throughout the day, so you might want to integrate #872 beforehand. Then we can build upon that and add Python 3.9 / Windows support afterwards.

Also note that the build apparently works fine on Python 3.8 / Windows already. But you never know, maybe those changes are only n

[2021-02-01 11:31] amotl commented on #827
Hi @pllim,

thanks for the heads up. AppVeyor support will probably be removed with #872.

With kind regards,
Andreas.

[2021-02-01 11:32] avalentino commented on #875
This should be fixed by #866 and #862. Issue #876 should only fix future deprecations.
Closing.
@amotl please re-open if you still have problems with this.

[2021-02-01 11:32] #875 closed

[2021-02-01 11:34] avalentino commented on #854
sure, no problem

[2021-02-01 13:47] amotl commented on #854
Hi again,

I just wanted to come back to this in order to add a short note. I believe there might be two problems observed by Windows users.

1. Runtime errors like the one reported by @Zachweiss20 at https://github.com/PyTables/PyTables/issues/854#issue-778468683 as well as @Sophia409, @exrich and @e-dism at #824.
2. Compile-/Link-time errors like reported by @guiweber at https://github.com/PyTab

[2021-02-07 17:30] zequihg50 opened #879 "PerformanceWarning on string index"
Dear PyTables developers,

I'm creating a table with three columns of type string with length of 750 and 3853792 rows. When I try to read different values, it seems that for the first values PyTables is incredibly fast to locate them (without the index it takes a couple of days to find all different values) but after finding some of them (like 2000 of 7000 different values) it stucks.

This is how

[2021-02-09 14:29] andriimazur93 commented on #286
i had the same issue with pandas this was throwing ValueError: too many inputs
df.eval(some_expression_to_evaluate)

changing it to
df.eval(some_expression_to_evaluate, engine="python")
solved a problem :)

[2021-02-12 14:09] avalentino commented on #867
@eumiro sorry for the lack of progress on this, unfortunately this is a very busy period for me.
Meanwhile I have just learned about [blue](https://blue.readthedocs.io/en/latest/) which, together with [yapf](https://github.com/google/yapf) proposed by @albertosantagostino, could be an alternative to [black](https://github.com/psf/black).

[2021-02-12 17:48] eumiro commented on #867
Thank you, @avalentino, no hurry on this. I have now tested both tools on the current`tables/` directory and compared how much has been modified:

[code]

Didn't check the diffs, didn't run tests, and didn't search for the one file ignored by `blue`, but the diff size looks rather different.

[2021-02-12 17:54] avalentino commented on #867
Excellent @eumiro, this is exactly the last I had in mind!
Yes numbers are very interesting.
Of course I suppose that differences with black would be even larger.

[2021-02-12 19:59] eumiro commented on #867
Let's compare #880 and #881. I applied it to more directories, so the diff is larger. `blue` was about twice as fast as `yapf`. Here are some issues I could observe:

`blue`:
 - changes all quotes to simple ones, which is most of the diffs

This is something I do not like about `blue` when there are two equivalent expressions and one of them gets split across three lines:

[code]

`yapf`:
 - line

[2021-02-13 07:10] avalentino commented on #867
Hi @eumiro thanks for setting up PRs with reformatting examples.
I will look into them and prepare a list of notes as you have already made.

Also we may think to setup a ``yapf`` configuration file that allows to reduce even more the impact on the source code.

One note is that my comments about being careful to reformat the code basically only regards the library code: ``tables``.
From my person

[2021-02-13 16:15] eumiro commented on #867
I'm open to any adjustments of the `yapf` configuration and we can analyze the current diff in order to see whether the changes according to the default config are meaningful or not.

However you opened one very important topic: **which** parts of the repo to refactor. the library (`tables/…`) and the tests (`tables/tests/…` and `tables/nodes/tests/`). You see how complex the wildcard to cover the

[2021-02-13 17:19] avalentino commented on #867
Well I'm surely in favour of having a test suite more "pytest friendly", not sure it is a good idea to have a separate test directory.

I mean that I thing that having the possibility to to run:
[code]
or
[code]
is a feature that IMHO we should keep.

Of course an intermediate solution is always possible.
E.g. we could move do a separate folder only "heavy" tests and/or backward compatibility test

[2021-02-13 19:32] eumiro commented on #867
Now the #881 contains the library only. Most of the changes are formatted strings that will be converted to f-strings anyway. We can discuss the possible switches directly in that PR.

[2021-02-15 13:41] kakila opened #882 "Roadmap for SWMR?"
Is there an plans to implement SWMR? #596  #788

[2021-02-15 14:08] avalentino commented on #882
Dear @kakila at the moment there is no plan to add this feature.
Anyway other users are asking for it so a PR implementing it would be by sure very welcome.

Since here is already an issue regarding this topic I'm going to close this one as duplicate.
Please let's move discussions about SWMR to #788.

[2021-02-15 14:08] #882 closed

[2021-02-16 11:42] zequihg50 commented on #879
For anyone interested, chunk, slice, block and superblock sizes are computed [here](https://github.com/PyTables/PyTables/blob/beafbd34d31b6326aa7f4642614585396d3c6331/tables/idxutils.py#L106). If the slice size is too big the warnings appear. You can use the `dtype` itemsize to control the maximum size of the slice:

[code]

[2021-02-16 11:57] avalentino commented on #879
Dear @zequihg50, sorry for not providing feedback on this issue and thanks for sharing outcomes of your analysis.
Do you think that the solution that you suggest is general enough to be included in the PyTables codebase?
Are you willing to submit a PR for this?

[2021-02-18 18:25] zequihg50 commented on #879
I have discovered it is not general enough, I'll perform further testing and if I find a general solution I'll make the PR.

[2021-02-20 17:14] avalentino commented on #867
OK, I have made some tests with the yapf configuration but I'm not particularly happy with the results.
In general formatters tend to change things that, in my opinion, it is not necessary to change and while some of the changes are in the good direction many are not IMHO (it is mainly a matter of personal taste).

In conclusion I thing that for CI we should use flasc8 but I have not a strong opin

[2021-02-21 06:35] chenliting-1 opened #883 "Could not load any of ['hdf5.dll', 'hdf5dll.dll', 'pytables_hdf5.dll'], please ensure that it can be found in the sys tem path."
win10
python 3.6
pytables 3.6.1
use conda install

[2021-02-21 07:26] avalentino commented on #883
Duplicate. See #854

[2021-02-21 07:26] #883 closed

[2021-02-21 18:06] nkeim opened #884 "Pypi wheel for tables 3.6.1 on Python 3.9 bundles (old) libraries"
Unlike the wheels for older versions of python, the current Linux wheel for python 3.9 includes prebuilt libraries for hdf5 etc. When imported, pytables uses the bundled hdf5 1.8.5patch1, instead of the newer system version (currently 1.10.4 on Ubuntu).

This breaks existing tests in https://github.com/soft-matter/trackpy/issues/643 that pass for other versions of Python and other OS's.

This seem

[2021-02-22 14:33] jondoesntgit commented on #821
Would the maintainers be open to a pull request that adds an API for column-level attributes? Something like

[code]

[2021-02-22 16:16] avalentino commented on #821
Dear @jondoesntgit thanks for your interest in pytables.
IMHO the one you are proposing is a very nice addition to the pytables features, a PR would be very welcome.

[2021-02-22 16:35] eumiro commented on #821
Should this be only the `unit` attribute (as a string or some enum to facilitate identical columns in similar tables?) or general metadata for a column (as a dict of anything serializable)?

[2021-02-22 18:06] jondoesntgit commented on #821
What I had in mind was using this regular expression `FIELD_\d+_([^\s]*)` to match attributes that come after FIELD_1_{attribute key goes here}. But maybe something like `FIELD_1_ATTRS` as a dict would be better.

[2021-02-22 18:22] jondoesntgit commented on #821
Comparing the two options:

## Serializing a dictionary

This keeps all of the column attributes in one serialized dictionary at `FIELD_1_ATTRS`, but any modifying requires re-generating the dictionary and rewriting it to the file.

## Matching a regular expression

May lead to a lot of attribute keys for each column, but the I/O is a little more streamlined for lots of operations.

I looked at ho

[2021-02-22 18:38] avalentino commented on #821
Thanks @jondoesntgit and @eumiro for the interesting discussion.
My personal preference goes to the option 2 proposed by @jondoesntgit (Matching a regular expression).

* Having flat HDF5 attributes IMHO makes the format easier to manage even for non-potables users.
* Probably nowadays there are serialisation standards that are easy and universally knows but nevertheless they would stay on top of

[2021-02-22 19:33] eumiro commented on #867
I'd be happy with `flake8` (but I know where that `flasc8` comes from :-)) tested for each commit, since I've already fixed most `flake8` issues and can do so for the rest. It even has some plugins that can help us to improve the code quality.

[2021-02-23 07:08] avalentino commented on #884
Hi @ndawe looking at the wheels

tables-3.6.1-cp38-cp38-manylinux1_x86_64.whl
tables-3.6.1-cp39-cp39-manylinux2010_x86_64.whl

it seems that both include the HDF5 library even if different versions.
The wheel for Python 3.9 includes an older version and, if I understand correctly, this seems to be the cause of your problem.
Libraries included in the wheel for Python 3.9 are the ones that one can f

[2021-02-23 19:06] jondoesntgit commented on #820
Maybe some sort of default implementation with the `_convert_time64 function`?

[2021-02-23 21:17] Theolean opened #885 "Installation problem with Python 3.9.2"
I tried to install tables (`pip install tables`) in a new virtual environment. The installation failed with `ERROR:: Could not find a local HDF5 installation.`

However h5py is installed and can be imported / used.

windows 10 20h2
python 3.9.2
h5py 3.1.0

Full trace:
`Collecting tables
  Using cached tables-3.6.1.tar.gz (4.6 MB)
  Using cached tables-3.5.2.tar.gz (7.8 MB)
  Using cached tables-3.

[2021-02-24 06:47] avalentino commented on #885
Wheels are not available at the moment for Python 3.9 on windows, this means that pip tryies to build/install form the sources tarball.
Please refer to www.pytables.org/usersguide/installation.html

[2021-02-24 07:12] Theolean commented on #885
Ok, I see, I had only checked pypi and there it was not obvious to me that wheels for python 3.9 on windows are not available.

Thanks for the information!

[2021-02-24 07:12] #885 closed

[2021-02-24 07:19] avalentino commented on #820
Hi @jondoesntgit

numpy datetime did not exist (or was just experimental) when PyTables TimeXX types were created.
After that I think that no one had the time and motivation to improve things.
IMHO a better integration with numpy datetime types would be very nice to have.
Anyway the management of the [datetime units](https://numpy.org/doc/stable/reference/arrays.datetime.html#datetime-units) shall

[2021-02-24 07:24] avalentino commented on #885
Yes I'm sorry for that.
There is some work ongoing in PR #872 but probably we have to wait for the next PyTables release to have a complete set of wheels in PyPI.

[2021-02-24 08:01] Theolean commented on #885
No problem! Yes, I have found PR #872 and will follow it closely.

[2021-02-25 02:22] nkeim commented on #884
Thanks! Yes, that's correct—the Linux Python 3.9 wheel is built differently from all the others. It looks like #879 is trying to address this.

We have added a workaround to not test pytables when HDF5 is old, so this is not urgent for now.

conda is definitely the recommended way of installing our package, but not everyone uses it and we want to make life easier for those people.

[2021-03-01 12:37] CharlesB2 opened #886 "Inconsistent package naming between pypi.org and Condaforge"
This is a minor issue only, but I find unpratical that the package is named differently between [condaforge (`pytables`)](https://anaconda.org/conda-forge/pytables) and [pypi.org (`tables`)](https://pypi.org/project/tables/).

I don't know if one these repositories allows having aliases, but I guess it's possible only with condaforge since pypi.org already has a `pytables` project registered.

[2021-03-01 13:40] kartzke commented on #832
@avalentino reopening this ticket.  Looks like HDF5 has a package built for apple silicon now:

HDF5 Github issue: https://github.com/HDFGroup/hdf5/issues/311
HDF5 forum link: https://forum.hdfgroup.org/t/apple-silicon-binaries-universal-binaries/7848/4

Does PyTables need H5PY?  If yes, then there's still a blocker, H5PY won't build from source on Apple Silicon yet due to dependency conflicts.  A

[2021-03-01 15:14] avalentino commented on #832
Hi @kartzke.
No PyTables do not needs h5py.
You need Mohave an HDF5 C library properly installed on your computer **and** need to tell to the setup.py script where it is (se also the [installation ](http://www.pytables.org/usersguide/installation.html) documentation)

[2021-03-02 15:49] kartzke commented on #832
Cool, I'll give it a go soon and report back, thanks!

[2021-03-02 16:47] avalentino commented on #832
Sorry @kartzke the above is clearly a typo, it shone be "You need to have an HDF5 C ..."

[2021-03-03 00:57] jondoesntgit commented on #820
I'm back with a progress report after working on this for two days:

It appears that the Time32 and Time64 specs in the HDF5 library are no longer maintained. H5Py doesn't support these data types (raises a `TypeError: No NumPy equivalent for TypeTimeID exists` if you try to open a PyTable HDF5 file with those datatypes). `h5dump` calls those data types `not yet implemented`. I think `h5ls` has tr

[2021-03-03 01:20] jondoesntgit commented on #820
As I'm thinking about this, I think the best way to get such a feature moving forward is to create new data types, rather than trying to duck type the existing Time32 and Time64 data types (this would almost certainly break existing code). I think the first step would be opening up atom.py and adding in something like DateTime64Atom(DateTimeAtom). A default resolution of 'ns' would give a range be

[2021-03-03 06:34] avalentino commented on #820
Thanks @jondoesntgit.
I agree with you on the approach of having a new type instead of changing the existing ones.
Regarding the default resolution my suggestion is to not have a default at all and force the user to specify it at creation time. This is the numpy approach if I'm not wrong.

[2021-03-03 16:35] jondoesntgit commented on #820
Perhaps by specifying a unit attribute, as suggested in #821.

[2021-03-03 17:08] sunilshah opened #887 "Tables does not build, install and run on apple silicon"
I have homebrew installed python3.9 (3.9.2_1) running natively and also under Rosetta2.  As recommend, homebrew prefix for native install is /opt/homebrew while for Rosetta2 it is /usr/local/.    Tables installs and runs fine under Rosetta2 using pip3.  I also have brew installed hdf5 for  native and Rosetta2.

For Native codes, many modules need to be installed from source.  It appears that becau

[2021-03-03 17:51] avalentino commented on #820
yes, the general mechanism for supporting features that are not directly supported by HDF5 is to use "system attributes" to store the missing piece of information.

[2021-03-03 17:58] avalentino commented on #887
I think that this is a duplicate of #832. Have you already looked at that discussion?
In any case we need more information to give some advice.
Which is the exact command that fails?
What is the error message?

[2021-03-03 19:00] sunilshah commented on #887
@avalentino

Thanks for pointing out #832.  I looked at the discussion.  I will post answer to each of your questions shortly.

When I use standard pip install from pypi, I see

[code]
 `hdf5` is installed using brew.

[code]

Now install from source.

[code]

[2021-03-03 19:11] sunilshah commented on #887
I also tried alternative install from source.

[code]

[2021-03-04 00:57] jondoesntgit opened #888 "How to avoid: H5FD_lock, 'Resource temporarily unavailable'"
I open up two terminals, and I run this in the first one:

Possibly related to https://github.com/h5py/h5py/issues/1101

[code]

[code]

[2021-03-04 00:58] jondoesntgit commented on #888
Figured it out, and wanted to put the solution here for others.

If you add the following to your `.bashrc` file, then you can avoid this problem.

[code]

[2021-03-04 00:58] #888 closed

[2021-03-04 06:27] avalentino commented on #888
@jondoesntgit thanks for the hint

[2021-03-04 07:27] avalentino commented on #887
It seems to me that you are using at build time a different version of the HDF5 library w.r.t. the one you use at runtime.
Brew info shows that your hdf5 library is in ``/opt/homebrew`` but when you build form sources there is a clear message saying:
[code]
I don't know which of the two versions the dynamic linker uses at runtime.
You should try the Mac equivalent of ``ldd``.

Please try you follo

[2021-03-04 14:27] #879 closed

[2021-03-04 18:06] sunilshah commented on #887
Because of Rosetta2 and Apple Native Python3.9 installations on the same machine, the correct locations are important to specify.

I tried adding `/opt/homebrew ` in setup.py

[code]

Although it found the headers and library locations, it complains about HDF5 runtime / shared library.

[code]

[code]

[2021-03-04 18:43] avalentino commented on #887
OK, I have HDF5 v1.10.6
[code]

Can you please check that the symbol exists in your library?
According to the HDF5 compatibility report it should still be there

[2021-03-04 19:49] sunilshah commented on #887
[code]

[2021-03-05 10:18] avalentino commented on #887
OK, this is very strange :/
Can you please report the output of
[code]
?

Another option could be to use an older version of the HDF5 library (e.g. 1.10.x).
Do you have the possibility to downgrade?

[2021-03-05 16:20] sunilshah commented on #887
[code]

I will try to install older version of hdf5 using brew and see if it helps.

[2021-03-05 16:42] avalentino commented on #887
``setup.py`` does not provide any runtime information.
All the stuff relies on the dynamic linker configuration and ``*LD_LIBRARY_PATH``.

``utilsextension.cpython-39-darwin.so`` should link ``hdf5.dylib``.
I assume that the issue does not depend on the Cython build stuff because Cython seems to be updated.

Probably you are right, maybe de need some Mac/"apple silicon" specific build flag.

Pleas

[2021-03-05 17:36] sunilshah commented on #887
I am not familiar with using Cython.

If runtime information is passed through `LD_LIBRARY_PATH`, it should suffice to `% export LD_LIBRARY_PATH=/opt/homebrew/lib`

Perhaps checking other python packages that use cython may be helpful?

The latest version of hdf5 (1.12.0) has the apple silicon fixes.  Earlier versions do not.

[2021-03-09 15:03] jondoesntgit commented on #821
I just pushed a commit (see above) that adds some column-level attributes. Here's a sample script:

[code]

All of the attributes are stored at the table with a `FIELD_%i_ATTR_` prefix, and use the AttributeSet API to make changes. The changes are also visible via the `table.attrs` API.

A few things where I want your feedback:

- I implemented this by making a new `ColumnAttributeSet` class, that

[2021-03-09 17:10] jondoesntgit commented on #821
I was looking at the NetCDF4 User Manual, and they have some [standard attributes](https://www.unidata.ucar.edu/software/netcdf/docs/attribute_conventions.html) that have special functions. Implementing these would give some enhanced interoperability via pydap if someone wanted to load up a table using a tool like xarray:

- `units` I know that the devs at https://github.com/hgrecco/pint have writ

[2021-03-09 18:09] joerikb commented on #807
I have the exact same issue. Any ideas how to fix it?

[2021-03-10 07:29] avalentino commented on #821
Both solution are nice.

IMHO we shall use the ``ATTR`` prefix for free *user attributes* i.e. the ones that are not used internally by pytables (e.g. FIELD_0_ATTR_long_name).
Attributes like ``FIELD_0_FILL`` are directly used by pyteblas internally (*system attributes*) and IMHO should stay without the ``ATTR`` prefix and follow pytables conventions (all capital letters).

This means that if you

[2021-03-10 07:37] avalentino commented on #886
Hi @CharlesB2 sorry for the late reply.
This is an interesting comment. Do you have a pointer to relevant documentation that explains how aliases work in confa-forge and how to create them?
Also since the problem mainly regards the conda package you may want to open a corresponding issue on that repository [1].

[1] https://github.com/conda-forge/pytables-feedstock

[2021-03-10 08:08] CharlesB2 commented on #886
Thanks, actually the issue is already up at https://github.com/conda-forge/pytables-feedstock/issues/54. Shall I close this one?

[2021-03-10 09:51] avalentino commented on #886
@CharlesB2 thanks for linking the issue.
It seems there is nothing else we can do on pytables *core*, so I'm closing the issue.

[2021-03-10 09:51] #886 closed

[2021-03-11 10:26] odidev opened #891 "Add support to release aarch64 wheels"
Problem
---------
On aarch64, pip install PyTables builds the wheels from source code and then install it. It requires user to have development environment installed on his system. also, it take some time to build the wheels than downloading and extracting the wheels from pypi.

Resolution
-----------
On aarch64, pip install PyTables should download the wheels from pypi

@avalentino, please let me

[2021-03-19 15:13] maxnoe commented on #826
This is getting more urgent for use. It's been 1.5 years with many bug fixes. Anything we can do to help?

[2021-03-20 09:06] avalentino commented on #826
Hi @maxnoe, yes you are right we should make a release as soon as possible.
Apart for the chronic lack of maintainers time, on the technical side IMHO there is a blocking issue:
at the moment I'm afraid that we are not able to release a reasonable set of wheels

There is some WIP PR (see e.g. #872) but the work seems to be stalled at the moment.

If you want to contribute it would be very apprecia

[2021-03-25 07:48] xmatthias commented on #823
Any news regarding the wheels for windows / macOS?

Not having these makes using tables (with python 3.9) on these platforms a real pain.

[2021-04-11 02:42] opoplawski opened #894 "Test failure with hdf5 1.12.0"
Testing building against hdf5 1.12.0:
[code]

[2021-04-11 05:15] avalentino commented on #894
Dear @opoplawski, thanks for reporting.
Can you please provide more information about your set-up?
The output of

[code]

would help.

[2021-04-14 10:40] justus-hildebrand commented on #854
Hey everyone, I have just run into this runtime error as well. I'm on a fresh install of python, here's my versions:

Windows 10 Pro 64-bit
python 3.8.9
pip 21.0.1
numpy 1.19.2
numexpr 2.7.3
tables 3.6.1

In case something with the cached wheel is broken I used an uncached install, here's the log:

[code]
I've tried a couple of version combinations already, like up-/downgrading numpy (no success),

[2021-04-14 11:19] avalentino commented on #854
@justus-hildebrand thanks for reporting.
The relevant PR is #872 (please also refer to the discussion in  #823).
Any help would be very very welcome.

[2021-04-14 13:12] justus-hildebrand commented on #854
With a last desperate attempt I finally managed to get it to work! **The solution for me was to install PyTables not with pip in user space but through pip run as Administrator.**

I _believe_ that it all has to do with environment variables: When installing `PyTables` from a non-admin pip, it is installed somewhere in pythons AppData directory (for me it was `c:\users\User\appdata\roaming\python\

[2021-04-22 14:03] Traderjoe95 opened #895 "Where clauses containing arithmetic operators are handled incorrectly"
I am trying to use arithmetic operations inside a `where` clause to select rows from a table stored via the `pandas.HDFStore` class. My concrete example would be something like `(A % 3) == 0`. Unfortunately, this kind of conditions does not seem to be possible in the current implementation, although https://www.pytables.org/usersguide/condition_syntax.html seems to suggest otherwise.

I have track

[2021-04-22 14:11] Traderjoe95 commented on #895
Well, apparently I didn't quite look at the right place, this seems to be a pandas issue. My bad.

[2021-04-22 14:11] #895 closed

[2021-04-30 08:23] tomkooij commented on #823
@amotl Ok, this is a VERY late reply. I just stumbled upon this.

I invited you (and antonio as he is the only owner with an account on pypi-test).

Sorry about not replying to this. Hope this still is usefull.

[2021-05-01 06:27] avalentino commented on #823
Thanks @tomkooij.
You made a lot of work on wheel in the past.
Would you like to review this PR? Do you have time?

[2021-05-09 15:19] YubinXie commented on #828
Tried everything but still does not work.

What I tried:
1. Brew install hdf5
2. update XCode Command Line Tools
3. brew install c-blosc

[2021-05-19 00:49] eserdk commented on #828
@YubinXie could you try executing `brew install hdf5 c-blosc lzo bzip2`? Probably you forgot to link c-blosc or any other library with `brew link --overwrite c-blosc`.

[2021-05-20 07:47] baileyji opened #896 "tables.table.Column has no attribute tolist,"
Updated to 3.6.1 and and getting a failure on l 366 of tables.conditions:

I'll note that list(idxlim) does indeed work.

[2021-05-21 08:02] DFEvans opened #897 "Broken links in FAQ"
In the FAQ, there are several broken links pointing to pages under "www.pytables.org/moin/" - "FrancescAlted", "ComputingKernel", and "PyTablesPro". From a bit of hunting, it seems that PyTablesPro ceased to exist ~10 years ago, so these links sound like they're very out of date!

At time of writing, it's links 10, 17, and 18 in the list at the bottom of the FAQ: https://www.pytables.org/FAQ.html#

[2021-05-21 08:25] avalentino commented on #897
@DFEvans thanks for reporting

[2021-05-25 11:47] ben-gy commented on #828
Hey @eserdk - confirmed - I had the same collection and order of problems as listed in this comment thread - after running your two commands, this solved the final issue that I also ran into as pasted by @Michel-Settembrino mentioned here: https://github.com/PyTables/PyTables/issues/828#issuecomment-756770495

[2021-05-31 18:39] maxnoe commented on #884
We also just ran into this.

Using a fresh virtualenv for each python 3.8 and 3.9, I get:

[code]

and with 3.9:

[code]

this creates errors when openeing the same file twice:

[code]

which do not happen with newer versions of `libhdf5`.
[code]

[2021-06-02 14:24] BlehMaks commented on #807
I have the same problem, does anybody found solution?

[2021-06-02 18:14] baileyji commented on #896
After some further debugging this appears to be tied to numexpr evaluations.
[code]
and
[code]
work.

[code]

does not.

[2021-06-14 09:51] Chronial commented on #826
Christoph Gohlke provides pytables wheels for windows and python 3.8 and 3.9 at https://www.lfd.uci.edu/~gohlke/pythonlibs/#pytables.
Would it be an option to ask him for Permission and add these wheels to pypi?

[2021-06-14 15:23] JackKelly opened #898 "PyTables triggers a DeprecationWarning in numpy 1.20: `np.object` is a deprecated alias for the builtin `object`"
Here's the full error message :)

[code]

(Thanks loads for all your work on PyTables, it's super-useful!)

[2021-06-14 16:41] avalentino commented on #898
Thanks for reporting

[2021-06-19 10:41] maxnoe opened #899 "Higher resolution / vector version of the logo"
I'd like to attribute our usage of pytables by including your logo on a poster, however I could only find a very small png (from the documentation page).

Is the logo available as a higher resolution bitmap or ideally in a vector graphics format (eps, pdf, svg)?

[2021-06-24 21:11] bakerhassan opened #900 "MPI processes and PyTables"
I wrote a program that launches N + 1 MPI processes where a one process is a consumer of the data that are being sent by the other N processes. The consumer process will open a PyTable object and then start reading from MPI queue:

[code]

For the process `consumer`, it seems that it hangs on `file.create_carray` line. What am I missing?

[2021-06-25 02:27] #900 closed

[2021-07-03 07:02] avalentino commented on #899
@maxnoe sorry for the late reply.
The SVG version of the logo can be found here: https://github.com/PyTables/PyTables/tree/master/doc/source/images

[2021-07-03 07:02] #899 closed

[2021-07-05 08:42] leochoo commented on #828
@eserdk  THANK YOU! The official documentation is poorly written, it makes it seem like `c-blosc, lzo, bzip2`  are not necessary, when they actually are prerequisites!

Also, `brew link --overwrite c-blosc` command is nowhere to be found...

[2021-07-07 16:15] sophievincoff opened #901 "Library not loaded: @rpath/libblosc.1.dylib"
Hello, I am working in a virtual environment on a Jupyter notebook. tables installs without error, but when I run `import tables` or `python3 -m tables.tests.test_all`, I receive this error:

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/runpy.py", line 188, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_na

[2021-07-12 18:23] jonedadev commented on #828
I was able to fix it by running:
`brew install c-blosc `
`brew link c-blosc ` wich did not work but then I ran: ` brew link --overwrite c-blosc`
and finally:
`pip install tables `

[2021-07-16 20:02] pruthviraja786 commented on #744
Thanks for the suggestion for the time module, "from time import perf_counter" works without any error. Try using perf_counter to count the time elapsed to execute the code.

[2021-07-19 00:45] sunilshah commented on #887
Tables has been running on Apple Silicon under Rosetta 2 and arm64 modes for a while.  However, I started getting crashes today under both.

I am running python 3.9.6 under homebrew.  I have tables version 3.6.1.

In python, after importing tables, I used typed

[code]

I am not sure what is exactly wrong and how to fix it.

[2021-07-19 09:23] urig commented on #48
I got to this issue trying to figure out whether PyTables supports variable length strings. I had to read the discussion to understand that currently these are unsupported. May I politely suggest that an entry be added to the FAQ page that gives the TL;DR? 🙏

[code]

[2021-07-19 14:31] wshanks commented on #898
This was fixed in #862 (see this commit: e8d622305ba30762a0ffa3f5b1fcf105a278f255). There are some issues blocking the release of a new version with the fix though: #826.

[2021-07-23 00:20] eriniocentric commented on #776
Hi, I am still dealing with this exact issue.

I access H5 files for read access in using python's multiprocessing on two separate environments. It works fine on one but fails in the other and I can't pinpoint why. Any tips for solving this?

[2021-07-23 05:35] avalentino commented on #776
@eriniocentric if you are using multiprocessing probably it is not an threading issue IMHO.

[2021-07-24 19:49] eriniocentric commented on #776
Any idea what these errors are telling me. It doesn't happen when I run the command alone but happens when I use multiprocessing Pool class. I am basically doing a read_where in each thread on the same h5 file table.

Exception ignored in: 'tables.indexesextension.IndexArray._g_read_sorted_slice'
tables.exceptions.HDF5ExtError: Problems reading the array data.
Exception ignored in: 'tables.tableex

[2021-07-26 06:13] avalentino commented on #776
It is hard to say what can be the problem.
Do you open the HDF5 file in the worker process or in the main one?
Maybe the first option is safer but I'm not sure.
Also I assume that all worker processes use the HDF5 file in read-only mode, is it correct?

[2021-07-26 17:25] ArchangeGabriel commented on #845
FWIW, I do have the same issues on Arch Linux, now at HDF5 1.12.1. But apparently it used to work against 1.12.0 (I did not have to disable tests in https://github.com/archlinux/svntogit-community/commit/4664ec9e0b0a11458cd56bb1c80bbc1737ef3546).

[2021-07-26 18:13] ArchangeGabriel commented on #875
To be precise, this is fixed in https://github.com/PyTables/PyTables/commit/93a3272b8fe754095637628b4d312400e24ae654 (in case anyone has to backport it like me).

[2021-07-26 20:42] sunilshah commented on #887
I am crating a new issue for the problem above it builds fine but crashes python at run time.

[2021-07-26 20:47] sunilshah opened #903 "Tables crashes python with a run time error"
I am running python 3.9.6 and tables version 3.6.2.

Python was installed using homebrew on macOS 11.4 on M1 under Rosetta2.

hdf5 1.12.1. was installed using homebrew.

[code]

This runs fine with hdf5 version 1.12.0_4 and tables version 3.6.1, under both Rosetta2 and in native mode.   I am not sure if this is an issue with hdf5 install under homebrew or with tables.

[2021-07-27 05:56] avalentino commented on #903
The message clearly states that you are using at runtime a version of the HDF5 library that is different form the one that you have used to build pytables.
You should fix it.
If you have multiple versions of HDF5 installed I would recommend to remove all the ones that you do not actually intend to use.
Also please make sure that DYLD_LIBRARY_PATH is properly set to point to the correct version of

[2021-07-27 14:52] sunilshah commented on #903
Thanks @avalenito.

I did understand the message.  However, I am not sure if tables is installing a version of hdf5 with version for 3.6.1 in the path for runtime library.  Since everything works fine with the same set of packages (both for homebrew and pip) for earlier versions, I suspect something has changed in some install of the newer versions.   Does pypi tables version 3.61, compiled with h

[2021-07-27 15:23] avalentino commented on #903
@sunilshah my comment was referred to an installation of PyTables from sources.
That kind of installation never includes HDF5 which is expected to be properly installed on the hast system.
In the [User Manual](http://www.pytables.org/usersguide/installation.html) you can find instructions to control the search paths for the relevant libraries at build time.

if you refer to wheels I honestly don't

[2021-07-27 19:11] sunilshah commented on #903
Perhaps homebrew's choice of different paths to support Apple Silicon may be playing a role here.  I noticed that in setup.py, choice of prefix could be a problem.

[code]

Homebrew has standardized all installs on Apple Silicon for x86_64-Rosetta2 under ``` /usr/local/```, while for arm64 under ```/opt/homebrew/```.

[Homebrew 3.0.0, Mike McQuaid, 05 February 2021](https://brew.sh/2021/02/05/home

[2021-07-27 21:17] jbrockmendel commented on #903
xref https://github.com/pandas-dev/pandas/issues/42755

[2021-07-27 22:03] sunilshah commented on #903
xref     #887

[2021-07-27 22:29] jbrockmendel commented on #903
FWIW im not on apple silicon

[2021-07-27 23:29] sunilshah commented on #903
@jbrockmendel

Which machine and OS are you using?  Could you please attach output of  ```brew config```?

Are you using pip to install pandas?

[2021-07-28 00:53] jbrockmendel commented on #903
macOS 11.2.3, the problem started occurring after i did `brew update` a couple days ago.  pandas built from source

[2021-07-29 01:55] sunilshah commented on #903
@jbrockmendel

That is exactly how I discovered the problem on my machine.

Unfortunately, it has made my python code base brittle to brew / pandas upgrades.  I have to resolve the problem or find a workaround to use of tables--it is only used for ```df.to_hdf()```  and ```df.read_hdf()``` in a few places.

[2021-07-31 11:00] pedrocamargo commented on #823
How is this issue coming along any help needed?

[2021-08-02 02:29] pfren1998 commented on #636
This issue is probably caused by storage problems

[2021-08-02 07:14] tesalobo commented on #828
I tried all of the above and I didn't fix the problem.

When I try to `brew install c-closc`, I get this error in the terminal:
`Warning: No available formula or cask with the name "c-blosc".
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
==> Searching for a previously deleted formula (in the last month)...
Error: No previously deleted formula found.
==> Se

[2021-08-06 07:00] jonaswitt commented on #832
I was stuck with a very similar problem using

* an Apple Silicon Mac
* Mac OS X 11.5.1
* Python 3.9.6
* pip 21.2.2
* A virtualenv environment
* `brew install hdf5 c-blosc lzo bzip2`

Running this command per the instructions ("by using the ``--hdf5`` command-line option"):

[code]

would fail with the dreaded "Could not find a local HDF5 installation" error:

[code]

Whereas using (identical) env

[2021-08-06 07:15] avalentino commented on #832
Hi @jonaswitt, thanks for reporting

[2021-08-10 21:54] opoplawski commented on #845
Seeing the same in Fedora now that I'm updating from hdf5 1.10.6 to 1.10.7.

[2021-08-11 23:53] jbrockmendel commented on #903
I just re-installed using `pip3 install tables --ignore-installed --no-binary tables` and that tentatively solved the problem

[2021-08-12 02:30] sunilshah commented on #903
@jbrockmendel

Can you please attach output of ```brew config``` ?

[2021-08-12 21:03] sunilshah commented on #903
@jbrockmendel  thanks.

I see that you are current on homebrew and Xcode but using an older version of Mac OS (I am on 11.5.1).  What version of python3 are you running?  I am on 3.9.6.  What about pip3 version?

```pip3 install -U --no-binary --ignore-installed tables ``` would force compilation rather than use available binary (.whl).   It would also overwrite existing hdf5 install.   Because I

[2021-08-12 22:13] jbrockmendel commented on #903
The command I suggested does have an argument "tables".  Note that "tables" shows up twice in the command above.

Yes, that is the idea.  IIUC the wheel was built using an older hdf5 than what is now installed on our machines, so we specifically need to _not_ use that wheel.

I don't think this is correct.

[2021-08-19 22:06] sunilshah commented on #903
@jbrockmendel

``` pip3 install tables --ignore-installed --no-binary tables ``` fails in compile step on my Intel Mac (OS 11.5.2) with an error.

[2021-08-20 02:47] sunilshah commented on #828
Now I am on Mac OS 11.5.2, Homebrew version 3.2.6  Python version 3.9.6.

``` pip3 install tables``` works fine after
[code]

[2021-08-20 03:23] minhtran1309 commented on #828
I am using MacOS 11.4, homebrew latest version as I have just performed deep recovery and reinstalled the OS earlier this week.
My solution to that is to create Conda environment, try Conda install for hdf5. it works perfect for me as I have just done that a few minute ago.

[2021-08-21 03:30] sunilshah commented on #828
@minhtran1309

I am not sure how Conda installed hdf5 work with other hombrew installed programs that use hdf5 libraries.  Some Conda packages were much older versions compared to those on homebrew when I had checked last.   I have no experience with Conda, so it seems like a lot of additional work.  As far as I know Conda does not work on M1.

[2021-08-22 05:06] sunilshah commented on #828
I worked around the use of pytables in my python code base by replacing ``` x.to_hdf(   )``` with ```x.to_pickle(  )```.    Saved files are smaller and the code is faster.

[2021-08-22 05:09] sunilshah commented on #903
I did work around the use of pytables in my code base by using ```x.to_pickle( ) ``` and  ```pd.read_pickle( )```.

[2021-08-28 11:59] ArchangeGabriel commented on #898
@hadim This one was fixed in https://github.com/PyTables/PyTables/commit/c111bac277e3e34133debcc63c27f480caaae3c6

[2021-08-29 15:04] avalentino commented on #898
Fixed in 65af35117b0420d04418a6968456037037d6ea01.

[2021-08-29 15:04] #898 closed

[2021-08-31 17:51] epourmal opened #904 "HDF5 User Group meeting in October 2021"
Dear PyTables developers and community members,

I would like to invite you to give a talk on PyTables and with [HDF5 at the next HDF5 Users Group (HUG) meeting](https://www.hdfgroup.org/hug/hug21/), which will take place October 12-15, 2021.

Sessions will be online daily between 9am and 1:30pm Central Daylight Time. The format for talks is a 15-minute presentation or demo plus 5 minutes for disc

[2021-09-03 14:15] aufdenkampe commented on #826
Any updates on a timeline for a new release?

I'm particularly interested support for HDF5 v1.12, which has substantial performance and other benefits over v1.10 (it releases the GIL!), in addition to other benefits such as better handling of datetime and strings.

Furthermore, [h5py](https://github.com/h5py) has supported HDF5 v1.12 since their v3.0 release in October, 2020, and just released the

[2021-09-08 03:22] Soreepeong opened #906 "Building on Windows (Python 3.9.7): remove duplicate path escape in setup.py"
https://github.com/PyTables/PyTables/blob/eb50f55144f7e5b95b0624dcb6685b135476e475/setup.py#L692-L696

The above `if` should be removed, as `distutils.spawn` will escape library paths correctly.

https://github.com/python/cpython/blob/4dc4300c686f543d504ab6fa9fe600eaf11bb695/Lib/distutils/spawn.py#L79

Otherwise, link.exe will fail, due to `link.exe` receiving the following argument: `"/LIBPATH:\"

[2021-09-09 19:28] jrouly opened #907 "It doesn't seem like PyTables can be installed using PEP517"
I discovered this issue using [Poetry](python-poetry.org/), but it can be reproduced with `pip` as well.

Installation fails using PEP517, e.g. `pip install --use-pep517`.

Installing 3.6.1 fails with:
[code]

whereas installing latest `master` from git yields:
[code]

In fact, installation at any version (including 3.6.1) using git yields the same Cython error.

Full installation logs are include

[2021-09-09 19:34] jrouly commented on #907
I've also filed an issue against Poetry: https://github.com/python-poetry/poetry/issues/4491

[2021-09-14 23:39] NexVeridian commented on #907
You're using Python 3.9.6, so this is duplicate of https://github.com/PyTables/PyTables/issues/823

[2021-09-15 00:59] jrouly commented on #907
@NexVeridian You're right that the missing Python 3.9 wheel prompted me to even file this issue, but I'm not _entirely_ sure it's a duplicate.

If I `pip install --no-binary :all:` (i.e., prefer sdist) in a Python 3.7 virtual environment, I get the same behavior as on Python 3.9 (where no wheel is available).

I've included a full installation log in a Python 3.7 environment.

<details>
<summary>c

[2021-09-15 06:04] avalentino commented on #907
@jrouly yes, you are right, pytables is not compliant with the PEP517 specifications.
At the moment we do not have a `pyproject.toml` file.
It should be easy to fix, you could submit a PR if you want.

Anyway, please note that you still are in charge of ensuring that all the neded C/C++ libraries are properly installed in the system (in a place where the `setup.py` script can find them).
This is n

[2021-09-16 19:38] jrouly commented on #907
@avalentino

If you're referring to:

[code]

yep, totally with you. I was ignoring this error due to the fact that installation seemed to proceed past it without issue. It's this part later on that's consternating to me:

[code]

which I'm assuming is related to the lack of a `pyproject.toml` file.

And, related, this line that occurs when I try to install PyTables directly from a `git` url:
[cod

[2021-09-17 06:28] avalentino commented on #907
@jrouly yes, bzip2 is an optional requirement, but e.g. HDF5 is not optional and there is no way AFAIK to address this dependency by means of the standard setuptools/pip machinery.
It is in charge to the user to ensure that it is properly installed.

correct

This is another stuff.
Cython, in principle, is not strictly necessary to build pytables because the official distribution also include cyth

[2021-09-24 15:38] golestani-rez commented on #854
hi to everyone
i had problem of converting csv to hdf5 format in python.
i read all valuable comments about
ImportError: Could not load any of ['hdf5.dll', 'hdf5dll.dll', 'pytables_hdf5.dll']
and
Missing optional dependency 'tables'. In pandas to_hdf and also
LINK : fatal error LNK1181: cannot open input file 'hdf5.lib'
    * Using Python 3.8.2 (default, Aug 25 2020, 15:54:26) [MSC v.1900 64 bit (

[2021-09-25 11:24] #845 closed

[2021-10-23 00:21] sunilshah commented on #903
Tables does crash under Apple M1 in native mode.  It has the same error message about library mismatch.  It can not be fixed by compiling from source.

[2021-10-26 12:02] sroet opened #909 "python 3.10 pypi release"
currently no `tables` package of tables can be installed via `python -m pip install tables` when using python `3.10`.

<details> <summary> output of `python -m pip install tables` (after installing the current master branch) </summary>
<p>

[code]

</p>
</details>

However installing pytables with:
[code]

Seems to result in a working install for my downstream projects.

Would it be possible to do

[2021-10-30 15:28] linzhanyu opened #910 "Why do you try to write the source file when backing up?"
Traceback (most recent call last):
  File "/mnt/disk/stock/finance-dev/Core/MachineLearn/ModelDef.py", line 148, in _EntryX
    self.Start()
  File "/mnt/disk/stock/finance-dev/Core/MachineLearn/ModelDef.py", line 180, in Start
    self.OnStart()
  File "/mnt/disk/stock/finance-dev/Core/MachineLearn/TemplateCheck.py", line 21, in OnStart
    self.Analysis()
  File "/mnt/disk/stock/finance-dev/Core

[2021-11-02 13:23] jgredecka opened #911 "No wheels available for tables 3.6.1 on Python 3.8, platform manylinux1_x86_64"
Hi PyTables team,

I'm attempting to download the latest tables version 3.6.1 with Python 3.8.12 on manylinux1_x86_64 using the following command:
[code]

However this results in the following error:
[code]
It looks like while running the `pip download` command no wheels that come with HDF5 are found so instead it downloads from source? E.g.:

[code]

When I run the same `pip download` command wit

[2021-11-02 14:16] avalentino commented on #911
Hi @jgredecka, probably you should use ``--abi=cp38``

[2021-11-02 14:26] jgredecka commented on #911
Thank you very much @avalentino for taking a look at this, that was the problem in the end 🙈

[2021-11-03 09:51] carhe commented on #264
Hi folks,

Maybe the following is kind of a reminder that something should be done or clarified regarding this issue.

My little story: I started to learn PyTables, read the docs, wrote some code, and ran into the mentioned problem. I reduced it to the following test code:

[code]
The output is
[code]
Consistent with the discussion above (if I got it right), the trailing zeros of the first string

[2021-11-08 03:51] simsicon commented on #898
Thanks for the fixings, I am wondering if there is a plan to release those fixes, since the version 3.6.1 was released two years ago.

[2021-11-09 16:34] alpae commented on #884
I second this point. We can not move forward to python 3.9. Let us know if we can somehow help bringing this forward.

[2021-11-10 10:16] sroet commented on #909
@PyTables What are the current blockers for a new pypi wheel release?
This is currently blocking the release of a couple packages, and I should have some free cycles next week to (hopefully) deal with some blockers.

[2021-11-10 15:17] aufdenkampe commented on #891
A release supporting AArch64 or ARM64 architecture that is increasingly in use by cloud providers such as Amazon Web Services (AWS), in large part because it is much more power efficient. AWS passes that power savings to customers with a 40% greater power to cost ratio.

Supporting AArch64 or ARM64 will be a requirement for future cloud computing. It also helps mitigate climate change by substanti

[2021-11-10 15:27] aufdenkampe opened #912 "Release to support HDF5 1.12.1"
@avalentino, @tomkooij, @FrancescAlted, it appears that there is a growing need in the PyTables user community for a new release. Here are a few relevant issues:
- #826
- #823
- #876
- #887
- #891
- #909
- #776

With the fabulous integration of PyTables with Pandas and Dask, an enormous number of projects depend on PyTables. The lack of a recent release that supports recent versions of Python and

[2021-11-17 02:55] opoplawski commented on #894
Seems to be building fine at the moment with hdf5 1.12.1, so I'm closing this.

[2021-11-17 02:55] #894 closed

[2021-12-01 15:19] michaelaye opened #913 "Linux ImportError with 3.6.1 on py3.8"
This is a python 3.8 conda-forge environment:

[code]

[2021-12-01 16:33] lrepiton opened #914 ""file is not writable" errors for files opened in read only mode"
When I close the PyTables file handle of a file in read only mode a flush function is called and I get an error  `tables.exceptions.FileModeError: the file is not writable`. PyTables should not try to write a file in read only mode.
This has already been discussed [here](https://github.com/PyTables/PyTables/issues/700#issuecomment-401029104) and I think this easy fix would be a good idea indeed. T

[2021-12-01 19:15] avalentino commented on #914
Hi @lrepiton, thanks for reporting.
A short code example reproducing the issue would help a lot.
If you could provide a patch it would help even mode :)

[2021-12-01 19:17] avalentino commented on #910
Hi @linzhanyu thanks for reporting.
Could you please provide more information and, possibly, a small code example to reproduce the issue?

[2021-12-01 19:21] avalentino commented on #913
Hi @michaelaye, I think that this is an issue of the conda package (not pytables in itself).
Could you please provide the exact conda package version of pytables and hdf5?

[2021-12-01 23:25] michaelaye commented on #913
Sure thing:

[code]

[2021-12-02 19:27] avalentino commented on #586
Python 2.7 is no longer supported

[2021-12-02 19:27] #586 closed

[2021-12-06 14:41] lrepiton commented on #914
Thanks @avalentino for your feedback. I have proposed a patch in pr #915 .

[2021-12-06 16:21] avalentino commented on #914
@lrepiton, just merged your patch
Thanks. lot

[2021-12-06 16:21] #914 closed

[2021-12-07 08:44] oxhaowang opened #916 "Table module import fails on Mac"
Having gone through  other related issues, still cannot figure it out where went wrong

[code]

The pytable was built from source:

[code]
whose output
[code]

and the HDF5 is installed with brew:
[code]

[code]
and for diagnostic purpose, I'm attaching the results of the following command

[code]

[code]
anyone has a clue?

[2021-12-07 10:55] avalentino commented on #916
Hi @oxhaowang, I'm not sure why you have an ``@rpath`` in the output of ``otool``.
In principle you should be able to fix your issue just adding ``/usr/local/Caskroom/miniforge/base/lib`` in your ``DYLD_LIBRARY_PATH``.

[2021-12-07 14:05] oxhaowang commented on #916
@avalentino Thanks for the suggestion, but still not working.

in the terminal (zsh): if I run`echo $DYLD_LIBRARY_PATH` which will produce `/usr/local/Caskroom/miniforge/base/lib`, however if I start an IPython session in the very same terminal and type `!echo $DYLD_LIBRARY_PATH`there, it will give me blank space, and then I ran `import tables` the same error persists:
[code]
...

[2021-12-07 14:15] avalentino commented on #916
@oxhaowang I don't know about the management of environment variables in python (probably you should make sure to use ``export DYLD_LIBRARY_PATH=/usr/local/Caskroom/miniforge/base/lib``.

By the way if you stay in the same terminal the following should work:
[code]

[2021-12-07 14:24] oxhaowang commented on #916
@avalentino
[code]

[2021-12-07 15:03] oxhaowang commented on #916
Just for the record, I mannually change the libary file:
[code]
and then run
[code]

Still no luck.. Seems the problem is not the library issue.

[2021-12-08 00:15] joaoe commented on #823
Hi.
Just a friendly reminder that releases of python since 3.8 are not supported by pytables on mac nor windows, and you are forcing projects into technical debt by having to keep python 3.7.

[2021-12-08 03:28] oxhaowang commented on #916
To follow up, I manage to get it working by using a different version of python interpreter

[code]
and we have
[code]

Previously, I was running python 3.9.5 (not sure whether any environment issue messed _tables_ package up)

[2021-12-08 04:36] oxhaowang commented on #916
More to follow up.

Using ```otools``` I found the working version of the `utilsextension.cpython-39-darwin.so`  links to ```/usr/local/opt/hdf5/lib/libhdf5.200.dylib``` Whilst the buggy one links to ```@rpath/libhdf5.103.dylib```.

I forced the change with ```install_name_tool```,  now that ```tables``` in python 3.9.5  also works as expected.

[2021-12-08 07:58] avalentino commented on #916
Thanks for investigating @oxhaowang.
Closing this issue.
The version with ``@rpath/libhdf5.103.dylib`` smells like something installed form wheels, but I'm not sure about that.
Could you please confirm tat the version that worked (with Python 3.9.9) has been installed form sources in a fresh conda environment?

[2021-12-08 07:58] #916 closed

[2021-12-08 08:27] oxhaowang commented on #916
@avalentino

This time compiled from source, seems OK now for a new environment. Thanks for the tips.

[code]

[2021-12-08 16:41] sroet commented on #909
For people tracking this issue, since [this mr](https://github.com/conda-forge/pytables-feedstock/pull/74) was merged, at least the tables 3.6.1 can be installed for python 3.10 using conda and the conda-forge channel.

[Here are the installation instructions](https://github.com/conda-forge/pytables-feedstock#installing-pytables)

[2021-12-08 16:49] sroet commented on #909
I will keep this issue open for pypi wheels, but pinging people that linked to this issue to make sure they are aware of the updated status. (version 3.6.1 is available for python 3.10 on conda-forge)
(@aufdenkampe, @xmatthias, @jan-janssen, @bdice, @xsaschako)

[2021-12-08 16:56] avalentino commented on #909
Dear @sroet sorry for replying your message so late.
You may be interested in an ongoing discussion on the [pytables-dev](https://groups.google.com/g/pytables-dev/c/rAcV5Bf8--g) mailing list about the next release.
If you still have time and are interested in contribution please feel free to participate to the discussion.

[2021-12-08 20:15] avalentino commented on #913
Hi @michaelaye, I can reproduce the issue if I use the very same HDF5 library version that you have.
By the way in a fresh environment (with a slightly updated HDF5 version) all seems to work fine:

[code]

Closing the issue.

[2021-12-08 21:15] avalentino commented on #54
Read support implemented in PyTables v2.4

[2021-12-08 21:38] michaelaye commented on #913
If you could reproduce the issue, I'm surprised you tag this as invalid, as my report was valid?

[2021-12-08 22:04] michaelaye commented on #913
The suggested update to the higher build does not work here:

[code]
and `mysql-libs-8` requires openssl >=1.1.11,<1.1.2a

[2021-12-09 07:08] avalentino commented on #913
Well, it is invalid in the sense that it is not a PyTables issue but a packaging issue.
You should open an issue against the conda package probably (https://github.com/conda-forge/pytables-feedstock).
I don't know what is the difference between the two HDF5 versions that we tested but, if there is a binary incompatibility, than it should be handled with a stricter dependency relation IMHO.

In any

[2021-12-11 09:12] xmatthias commented on #909
@avalentino i'm not sure i understand the discussion on the mailinglist.

there is an existing contribution (attempt?) in #872 which is trying to add wheel building in CI to this project, which hasn't been acted on since march.

Based on my understanding, that PR is basically done (but is looking for a proper review/merging) - so i think the request of "2. another developer steps forward to provid

[2021-12-11 09:46] avalentino commented on #909
@xmatthias PR #872 is clearly a work-in-progress: not all tests pass, there is a pending change request, it has merge conflicts with the current master, so it cannot be merged.

Apart for that I think that we have issues in which users require for an updated HDF5 version, while the current machinery used to produce wheels (on GNU/Linux at least) uses the system libraries form the manylinux environ

[2021-12-11 09:56] xmatthias commented on #909
This is even more reason to provide good binary packages to users - which may or may not have a proper build environment to build correct binaries.

[2021-12-11 10:12] avalentino commented on #909
I totally agree with you but I have no time to dedicate to it.
Also, very good binary packages are already available via conda.

[2021-12-13 13:37] logankilpatrick opened #920 "Add help wanted and good first issues"
Hey! It would be great to see some help wanted / good first issues tagged so someone new to the project can figure out where the place to start contributing is!

[2021-12-13 13:50] logankilpatrick commented on #897
@avalentino this would be a great candidate "good first issue". Can you clarify if the state of the docs? Some of it looks out of date with link's 404ing. For example, the link at the top of https://github.com/PyTables/PyTables/blob/master/doc/source/FAQ.rst which points to http://www.pytables.org/moin/FAQ 404's. Is that expected?

[2021-12-13 16:26] logankilpatrick opened #922 "Add a code of conduct"
You can just use the NF one and link to it. Just make sure you have a contact for who to report issues too

[2021-12-13 17:21] aufdenkampe commented on #912
@avalentino, @xmatthias, @logankilpatrick, @FrancescAlted, and others.

Thank you for your responsiveness these requests from the community and your recent flurry of activity! I also appreciate your openness by sharing your [New PyTables release - call for discussion](https://groups.google.com/g/pytables-dev/c/rAcV5Bf8--g) thread.

I can appreciate the challenges of maintaining a public repo witho

[2021-12-13 17:43] avalentino commented on #920
Thanks @logankilpatrick.
I have already created the new labels.
Now I need some time to go through issue and classify them.

[2021-12-13 20:09] michaelaye commented on #913
Something went stale in the env, breaking the requirements tree. Setting up a new one with the same 490 packages (yep!) got me finally the _103 build for `hdf5`. sorry for the noise, and of course you are right, would have been a packaging issue in any case.

[2021-12-14 06:54] avalentino commented on #913
Happy to hear that you finally solved.

[2021-12-14 07:04] avalentino commented on #440
Closing this issue because PyTables no longer support Python 2.
This could be re-open if someone has the same issue on Python 3.

[2021-12-14 07:04] #440 closed

[2021-12-14 07:10] #911 closed

[2021-12-14 07:34] avalentino commented on #891
Fixed in #892 and #918. Closing.

[2021-12-14 07:34] #891 closed

[2021-12-14 09:17] avalentino commented on #910
Fixed by #914

[2021-12-14 09:17] #910 closed

[2021-12-14 09:27] avalentino commented on #906
Fixed in #923.

[2021-12-14 17:38] mennthor opened #925 "Wrong data when appending to table in chunk mode and no Col position argument is given"
Hi :)

In my application I tried appending larger chunks of data similar to this example: https://github.com/PyTables/PyTables/blob/5c77d63cef6a1b2d279ecb57777bc90b59116971/tables/table.py#L2146
If I understood correctly this should improve speed, which I also observe in my table setups with >1e6 rows.

However, I observed a problem where data is scrambled across columns per row, when data is appe

[2021-12-14 18:15] mennthor commented on #925
Oh man...

I just tried the two different combos of 'pos' and for one it worked and for the other it didn't.
I looked a bit into the code I referenced and although I do not understand everything there,  it seems the problem in my code is that I assume that the rec array is referenced by the dtype names, which is not the case.
The dtype between the table description and the chunk rec array must mat

[2021-12-14 18:15] #925 closed

[2021-12-20 16:27] aufdenkampe commented on #912
@avalentino & @xmatthias, I saw in #930 that providing full support for upgrading to HDF5 v1.12.1 might be challenging for ARM64 architectures, at least for now, due in part to backward compatibility issues with Blosc v1.x.

My view is that full support of ARM64 might be secondary to upgrading to HDF5 v1.12.1 for x86 systems. I think the community might be OK with staging releases, with:
- a minor

[2021-12-20 18:12] xmatthias commented on #912
I don't disagree with this - and i see it in a similar way.
blosc will be at a lower version for aarch64 / arm64 - but i think the fact that there are about 10 open issues all asking for wheels, support for newer versions, or wheels for newer python versions highlights the need for a new minor release.

That said - i don't see the "arm" topic as blocker either - however the huge x86 binaries could

[2021-12-22 17:40] avalentino commented on #896
It seems that all works as expected now (including the failure in the third case).
Closing.

[2021-12-22 17:40] #896 closed

[2021-12-22 17:43] #904 closed

[2021-12-22 17:49] avalentino commented on #903
@sunilshah what is the status of this issue.
I'm still convinced that it is a problem with your environment.
Have you tried to run the installation process in a *truly* clean environment?

[2021-12-22 18:28] avalentino commented on #901
@sophievincoff , @selasley , in principle you should have a symlink `libblosc.1.dylib --> libblosc.1.21.1.dylib` in `/usr/local/lib`, so not clear to me what exactly is the problem.

Are you using a pre-build version of blosc or are you building form sources the vendored one?
More inofrmation about the environment, the build procedure and logs would be appreciated.

I assume the first option (pre-

[2021-12-22 18:37] avalentino commented on #887
OK @sunilshah, I assume that the build issue is solved now.
Still remains the runtime crash issue that is tracked in  #903.

Closing.

Please feel free to re-open if you think there is something else that could be done on the PyTables side.

[2021-12-22 18:40] avalentino commented on #854
Fixed in #923.

[2021-12-22 18:40] #854 closed

[2021-12-22 18:44] avalentino commented on #841
This is now fixed (see d2a048b and a609a36)

[2021-12-22 18:44] #841 closed

[2021-12-22 18:57] avalentino commented on #800
If I understand correctly you are storing objects withe references to Python module in an HDF5 file.
Honestly I think that this use case is not supported.
In general storing python object in an HDF5 file should be used with caution.

I'm closing this issue because I don't think that there is anything that can be done in PyTables.
If I understand correctly it is your one is an issue that you can en

[2021-12-22 18:57] #800 closed

[2021-12-22 19:02] avalentino commented on #797
@kanak I think that the link the you posted now points to an incorrect location.
Could you please explain better that is the problem and maybe provide a simple code snippet/data file to reproduce the issue?

[2021-12-22 19:18] avalentino commented on #790
Thanks @Dapid and @cjrh this is a very interesting topic and a very interesting solution.

Currently we have an [item in our FAQ](http://www.pytables.org/FAQ.html?highlight=multiprocessing#can-pytables-be-used-in-concurrent-access-scenarios) about concurrent access to an HDF5 file.

I plan to improve our documentation pointing to your examples.

Please let me know if you think there is anything el

[2021-12-22 19:28] avalentino commented on #714
@moskalev I'm incline to think that this is not a PyTables issue.
Please provide a clear example to reproduce the issue using the PyTables API.

[2021-12-22 19:33] avalentino commented on #700
Closed in favor of #788.

[2021-12-22 19:33] #700 closed

[2021-12-22 19:35] avalentino commented on #920
done

[2021-12-22 19:35] #920 closed

[2021-12-22 22:01] kanak commented on #797
@avalentino : I have updated the link.

I found the current behavior of `where(query, start)` to be surprising because I expected it to search from `start` row till the `end` of the dataset. However, right now it only searches from `start` to `start + 1`.

[2021-12-23 03:00] sunilshah commented on #887
Sorry, the build issue on Apple M1 remains.  I have essentially stopped using pytables and dataFrame.to_hdf5 in my codes.

[2021-12-23 04:04] sunilshah commented on #903
The problem remains at run time.

[code]

 I  do not use python environments on M1.  So it may be a significant effort to create "clean environment".   As I mentioned earlier, I no longer use ``` dataFrame.to_hf5() ``` in my code.

By the way, another problem with multiple versions of run-time libraries is in issue
(https://github.com/scipy/scipy/issues/14688#issue-987205536l)

also in (https://gi

[2021-12-23 08:08] avalentino commented on #887
OK, according to #903 you are able to build on "M1 under Rosetta2", so, If I understand correctly, the *build* issue is only with native builds on M1 HW, correct?

According to https://github.com/PyTables/PyTables/pull/930#issuecomment-997446750 it seems that c-blosc does not support this platform at the moment.

[2021-12-23 08:14] avalentino commented on #797
Thanks @kanak, I understand now.
By the way the function you are pointing to is called `_process_range_read` so I think we cannot change it without breaking something else, but probably we can manage to fix the `where` behavior anyway.

Would you like to submit a PR for this?

[2021-12-23 08:20] avalentino commented on #903
As mentioned in https://github.com/PyTables/PyTables/issues/887#issuecomment-1000119252 c-blosc at the moment does not support M1 native so it is impossible to have PyTables as well on that platform.
We need to wait the next Mayor release.

If you have some experience to share please fee free to submit a PR to improve the PyTables documentation, it would be very appreciated.

[2021-12-23 10:38] #827 closed

[2021-12-23 11:11] kanak commented on #797
@avalentino : Since `where` uses this function, I'm concerned that this change would result in a change to public APIs:

https://github.com/PyTables/PyTables/blob/98a56b084b267156cb25e9c0ea8afb466fd70e75/tables/table.py#L1471

That said, I'm happy to work on the PR.

[2021-12-23 11:23] avalentino commented on #797
@kanak yes, the idea is to not change `_process_range_read` but rather to modify something around this line https://github.com/PyTables/PyTables/blob/b2d5a930cea0460656e596cde0962b70be87f1e4/tables/table.py#L1471
to call a different function for slice parameter processing (right now I do not remember if there is one) of pre-processing the `stop` parameter to get the correct behavior. Maybe just se

[2021-12-23 15:03] jamesmyatt commented on #800
@avalentino Thanks for looking at this.

Most people are well aware that pickle is not suited for long term storage. It is one of the main reasons why users will choose to store the data frame as HDF5 using PyTables rather than pickle in the first place. The issue is that PyTables chooses silently to use pickle underneath to store any custom objects inside a dataframe. Hence, the apparent guarante

[2021-12-23 15:29] jamesmyatt commented on #800
A stop-gap option would also be to disable unpickling too, as in https://github.com/PyTables/PyTables/issues/813

[2021-12-23 15:30] jamesmyatt commented on #813
This would also be good to load data frames after refactoring changes that break unpickling as in #800 .

[2021-12-23 15:43] avalentino commented on #800
Yes I would be open to a PR for #813 or a new feature to control the behavior of PyTables with unknown objects.

[2021-12-23 16:20] RalfG commented on #909
To people looking for an update on this issue, @xmatthias has done some great work already to get 3.9 and 3.10 wheels:
- #917
- #918
- #923
- #926
- #927

Currently, open issues are:
- #929
- #930

[2021-12-23 16:21] RalfG commented on #823
To people looking for an update on this issue, @xmatthias has done some great work already to get 3.9 and 3.10 wheels:
- #917
- #918
- #923
- #926
- #927

Currently, open issues are:
- #929
- #930

[2021-12-23 17:14] sunilshah commented on #887
I have not checked building it under Rosetta 2.  I have it installed version 3.6.1  using pip3 which does not require building from source.

[2021-12-23 17:24] sunilshah commented on #903
c-blosc version 1.21.1 is installed and running  under Rosetta2 and in native mode using homebrew.  It was installed on October 15, 2021.

[2021-12-23 20:17] avalentino commented on #903
Sorry, you are right https://github.com/PyTables/PyTables/pull/930#issuecomment-1000451257

[2021-12-23 20:22] jbrockmendel commented on #912
My experience in debugging #903 suggests a release with a wheel compiled against 1.12.1 may close that issue.

[2021-12-23 20:49] bdice commented on #909
Amazing. Thanks for your hard work @xmatthias, thanks @avalentino for reviewing all those PRs, and thanks for assembling this list of recent work @RalfG! 💯

[2021-12-24 07:57] avalentino commented on #824
@Sophia409 the issue seems to be very similar to #913.
Please try to re-install in a fresh conda environment.

@e-dism the issue with wheels has been solved in #926.

[2021-12-24 07:57] #824 closed

[2021-12-24 08:00] avalentino commented on #901
Fixed in #927.

[2021-12-24 08:00] #901 closed

[2021-12-24 08:03] avalentino commented on #823
@xmatthias since #923 is now merged I think that this issue can be closed.
Please feel free to reopen if I missed something.

[2021-12-24 08:03] #823 closed

[2021-12-25 00:02] sunilshah commented on #903
Sorry, my experience is only as a user of PyTables through pandas ```DataFrame.to_hdf()```.  I can point out what was confusing as a user trying to make the code run on M1.

[2021-12-25 14:25] joaoe commented on #823
@avalentino Hi. The Windows wheels are not published at https://pypi.org/project/tables/3.6.1/#files
What is missing ? Thank you.

[2021-12-25 15:09] avalentino commented on #823
The machinery to generate wheels is now fixed.
We are going to make a new release in few days.

[2021-12-25 20:20] #907 closed

[2021-12-25 20:31] jrouly commented on #907
Merry Christmas to me! Thank you @avalentino!

[2021-12-26 08:08] #776 closed

[2021-12-26 08:08] #884 closed

[2021-12-26 08:08] #903 closed

[2021-12-26 08:08] #912 closed

[2021-12-26 08:29] avalentino commented on #256
Man pages are now available.

[2021-12-26 08:29] #256 closed

[2021-12-26 11:01] #786 closed

[2021-12-26 11:03] avalentino commented on #897
Fixed in 4bdef2fda.

[2021-12-26 11:03] #897 closed

[2021-12-26 21:57] avalentino commented on #874
All doctests except one are now fixed.
The remaining one cannot work as a doctest because it pickles an instance of a class that has not been defined art toplevel.

Doctests shall be executed as follows:

[code]

[2021-12-26 21:57] #874 closed

[2021-12-26 21:57] #790 closed

[2021-12-27 07:27] avalentino commented on #822
@jbrockmendel do you still experiment this problem?
Could you please provide a simple code snippet to reproduce it?

[2021-12-27 14:03] avalentino commented on #794
The problem is in the management of objects with multiple hard-links.
Currently the management is totally missing and the implementation in PyTables seems to be not trivial.
Moving to the next milestone.

[2021-12-27 14:26] avalentino commented on #509
No longer able to reproduce the issue, closing.
Please feel free to reopen if you have another example to reproduce the issue.

[2021-12-27 14:26] #509 closed

[2021-12-27 16:02] avalentino commented on #707
I'm not able to reproduce, closing.
@valschmidt please feel free to re-open if you have a simple code example to reproduce it.

[2021-12-27 16:02] #707 closed

[2021-12-27 16:21] avalentino commented on #389
See also #757.

[2021-12-27 16:22] #741 closed

[2021-12-27 16:22] #763 closed

[2021-12-27 16:24] jbrockmendel commented on #822
pandas has added several "pytest.mark.filterwarnings" marks to suppress these and other warnings.  This particular warning is flaky, so I cannot reproduce it on command, only occasionally saw it in the CI before filtering them.

I'll remove that suppression locally and report back if/when I see a pattern in how the warning pops up.

[2021-12-27 17:03] avalentino commented on #822
Thanks @jbrockmendel

[2021-12-27 17:27] avalentino commented on #389
All tests seem to pass in CI, closing.

[2021-12-27 17:27] #389 closed

[2021-12-27 21:13] avalentino commented on #757
@GHaccount123, @tomkooij the `UnicodeFilename` test seems to pass in CI for fb13f07889e720.
Closing.
Please feel free to re-open if you still have problems with unicode pathnamess.

[2021-12-27 21:13] #757 closed

[2021-12-28 22:19] avalentino commented on #826
PyTables v3.7.0 is now available.

[2021-12-28 22:19] #826 closed

[2021-12-28 22:19] avalentino commented on #909
PyTables v3.7.0 is now available.

[2021-12-28 22:19] #909 closed

[2021-12-31 20:33] cgohlke opened #932 "tables-3.7.0 wheels for Windows on PyPI contain three identical copies of DLL files"
For example `tables-3.7.0-cp310-cp310-win_amd64.whl` contains:
[code]

[2022-01-01 08:23] avalentino commented on #932
Hi @cgohlke, thanks for reporting.
What is supposed to be the the correct location for DLLs?

[2022-01-03 17:35] cgohlke commented on #932
`tables/blosc.dll` and `tables-3.7.0.data/data/Lib/site-packages/tables/blosc.dll` are broken. They depend on `zstd.dll`, which is missing.

Since you are using `delvewheel repair`, you want to ship the DLLs in `tables.libs` only.

For third-party packagers that do not use `delvewheel repair`, please keep an option to package DLLs copied to the tables directory:

[code]

`utilsextension.pyx` check

[2022-01-03 21:10] aamster opened #933 "Cannot import pytables on windows, python 3.8"
- python 3.8
- pytables 3.7.0
- windows
- installed via `pip install tables`

[code]

This seems to indicate that something is not getting registered properly on windows, python 3.8. Why is it unable to find `utilsextension`?

[2022-01-03 21:25] avalentino commented on #933
Hi @aamster thanks for reporting.
Can you please confirm that tables have been installed via wheels?

Also could you please post the list of files in `...\site-packages\tables`?

[2022-01-03 21:32] aamster commented on #933
Hi @avalentino

`ls ...\site-packages\tables`
[code]

What do you mean by this? How can I check this?

[2022-01-04 00:16] aamster commented on #933
FYI this issue specifically occurs with Pytables 3.7.0. It does not occur with 3.6.1

[2022-01-04 09:02] avalentino commented on #933
@aamster it is really strange, from the list you posted it seems that the `utilsextension` for Python 3.8 is there: `utilsextension.cp38-win_amd64.pyd`.
... and also libraries it depends on: `blosc.dll`, `bzip2.dll`.
Probably only `zstd.dll` is missing but it depends on how the package has been built.

I would like to know if the package has been built locally form sources or if the `pip` exploite

[2022-01-04 10:22] avalentino opened #934 "Incompatibility with numpy 1.22"
One unittest fails with numpy v1.22: `tables.tests.test_expression.FunctionsTestCase.test00_simple`

The test code is the following:

[code]

The test output is:

[code]

The problem seems to be a slight difference in double precision floating point values probably introduced by `numexpr` (not visible in the standard test output):

[code]

PyTables build from git master with the following configur

[2022-01-04 10:43] avalentino commented on #934
@FrancescAlted, @robbmcleod OK usually one should not use strict comparison for floating point numbers but in this case, since numexpr is not using MKL, I do not expect any difference in the result.

Also, looking at the high level [numpy changelog](https://numpy.org/doc/stable/release/1.22.0-notes.html), I don't see any change in numpy that could cause this difference. Maybe the use of SIMD instr

[2022-01-04 13:52] aamster commented on #933
[code]

[2022-01-04 17:50] FrancescAlted commented on #934
It might be that the NumPy guys changed the order of evaluations, or that they are starting to use SIMD instructions internally.  FWIW, my advice would be to not use strict comparisons when comparing with NumPy results.

[2022-01-04 18:06] robbmcleod commented on #934
In NumExpr we use `numpy.testing.assert_array_approx_equal(...)` most of the time. I would only use an equality test for integers. The algorithms used by NumPy are generally custom, whereas NumExpr is mostly using cmath, the implementation of which will change from platform to platfrom. They definitely will not agree for complex valued functions, as there NumExpr is using low-precision custom code

[2022-01-04 18:46] avalentino commented on #934
OK, thanks @FrancescAlted and @robbmcleod, I will use a saner comparison method.

[2022-01-05 09:00] alpae opened #935 "creating vlarray with fletcher32 filter fails in pytables 3.7.0"
Hi,

with the new release of pytables the creation of a vlarray with an activated fletcher32 filter fails within the HDF library. Here's a minimal script that shows this behavior:

[code]
And here's the output:
[code]

when the fletcher32 filter is deactivated, the script runs fine, and so does it with pytables==3.6.1 (on python3.8).

on python3.9 also pytables==3.6.1 seems to fail in the same way

[2022-01-05 09:27] avalentino commented on #935
@alpae unfortunately it seems that it is no longer possible to use the fletcher32 filter on vlen strings with recent versions of the HDF5 library (see also https://github.com/h5py/h5py/issues/1948#issuecomment-925707191).

Closing.

[2022-01-05 09:27] #935 closed

[2022-01-05 20:41] avalentino commented on #932
Hi @cgohlke I managed to remove the duplicate DLLs in the windows wheels.
I would really appreciate if you could review the PR #936 and also give a look to new wheels available as artifact og the GHA run at: https://github.com/avalentino/PyTables/actions/runs/1659070310.

[2022-01-05 20:44] avalentino commented on #933
Dear @aamster I have updated the recipe to produce binary wheels on windows platforms.
Could you please give a try to the windows wheel included in the [archive of artifacts](https://github.com/avalentino/PyTables/suites/4840840617/artifacts/137247322) of the GHA run at: https://github.com/avalentino/PyTables/actions/runs/1659070310?

[2022-01-06 00:02] cgohlke commented on #932
PR #936 and "Clean the registration code for bzip2 and lzo extensions " look good to me. At this point `data_files` handling can be removed from setup.py:

https://github.com/PyTables/PyTables/blob/512702ed100c824a1218bc4c21c7546988802c98/setup.py#L226

https://github.com/PyTables/PyTables/blob/512702ed100c824a1218bc4c21c7546988802c98/setup.py#L1038-L1041

[2022-01-06 04:30] cgohlke commented on #933
I can't reproduce this with the official Python.org distribution. This is likely a miniconda issue related to the `CONDA_DLL_SEARCH_MODIFICATION_ENABLE` magic added to `__init__.py`.  Adding a `from . import utilsextension` right after `os.add_dll_directory(libs_dir)` and before restoring `CONDA_DLL_SEARCH_MODIFICATION_ENABLE` might work.

[2022-01-06 09:30] avalentino commented on #932
Thanks @cgohlke.

[2022-01-06 09:30] #932 closed

[2022-01-06 09:33] avalentino commented on #933
Sorry @cgohlke probably I'm missing something, your hint is for @aamster or for PyYbables. In the second case, could you please be more clear about what we need to do?

[2022-01-06 15:01] cgohlke commented on #933
The `tables-3.7.0` wheels for Windows on PyPI have the following code added to `__init__.py`:
[code]

Apparently this does not work as expected using miniconda:
[code]

Adding `from . import utilsextension` right after `os.add_dll_directory(libs_dir)` works (the `bzip2.dll` not found isue is already fixed in master):
[code]
[code]

[2022-01-06 17:15] avalentino commented on #933
Thanks @cgohlke, it is clear now.
I think that there is not too much that we can do in this case, apart for providing an updated conda package maybe.
I have prepared [PR #76](https://github.com/conda-forge/pytables-feedstock/pull/76) for the coda-forge [feedstock](https://github.com/conda-forge/pytables-feedstock) but there seems to be some problem with PyPy on aarch64 and ppc64le architectures.

[2022-01-12 11:10] xmatthias commented on #933
I had identified the same issue with conda/miniconda in the "windows wheels pr" (https://github.com/PyTables/PyTables/pull/926#issuecomment-994437720).
I don't have enough knowledge about conda/miniconda to determine why conda is not loading the dll correctly.

If it's a problem with the added code in `__init__.py` - this should be reported to delvewheel / cibuildwheel.

[2022-01-12 18:39] aufdenkampe commented on #933
The issue with installing from Conda might be related to the fact that the latest version of pytables on Conda-forge is 3.6.1. https://anaconda.org/conda-forge/pytables

Is there a plan to update the Conda-forge recipe to include the 3.7.0 release?

[2022-01-12 20:05] avalentino commented on #933
@aufdenkampe a PR is already available: https://github.com/conda-forge/pytables-feedstock/pull/76

[2022-01-12 21:35] aufdenkampe commented on #933
That's great to know! Thanks!

[2022-01-15 03:33] hyjforesight commented on #933
same issue here https://github.com/theislab/scanpy/issues/2108

[2022-01-17 15:54] alpae opened #938 "ptrepack fails with external links"
Hi,

it seems that ptrepack fails to repack files that contain external links. Below is a little snippet that generates a file that contains an external link to an array in another file.

[code]

running ptrepack then throws an error

[code]

[code]